Alexa 2.0 Flow ver 1.2
[
    {
        "id": "a938b5fc.32b1d8",
        "type": "tab",
        "label": "Alexa 2.0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "561b7938.92e278",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Genre selected",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_select.genre",
        "entityidfiltertype": "exact",
        "haltifstate": "Choose...",
        "x": 110,
        "y": 705,
        "wires": [
            [
                "cd10c006.ce9a2",
                "8b4c25bb.bc5478"
            ]
        ]
    },
    {
        "id": "cd10c006.ce9a2",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "{   \"entity_id\": \"input_select.genre\",\"option\":\"Choose...\" }",
        "mergecontext": "",
        "x": 275,
        "y": 705,
        "wires": [
            []
        ]
    },
    {
        "id": "39a10f7c.e9d05",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Which Device",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_select.which_device",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 30,
        "wires": [
            [
                "bddf6469.0167b8"
            ]
        ]
    },
    {
        "id": "bddf6469.0167b8",
        "type": "change",
        "z": "a938b5fc.32b1d8",
        "name": "Save device",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 295,
        "y": 30,
        "wires": [
            []
        ]
    },
    {
        "id": "c5a57080.738bd",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Announce",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.announce",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 90,
        "y": 105,
        "wires": [
            [
                "6061ab35.e57e54",
                "de7abd66.51824"
            ]
        ]
    },
    {
        "id": "6061ab35.e57e54",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{\"entity_id\": \"input_text.announce\", \"value\":\"\"}",
        "mergecontext": "",
        "x": 285,
        "y": 90,
        "wires": [
            []
        ]
    },
    {
        "id": "fec84bb8.821388",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Artist Radio",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.artist_radio",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 465,
        "wires": [
            [
                "5d78f711.a44ad8",
                "2bd62fcd.7fa9f"
            ]
        ]
    },
    {
        "id": "2b6abef0.bd3632",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 150,
        "wires": [
            [
                "d4e4216.5ab06e"
            ]
        ]
    },
    {
        "id": "c865423e.f2656",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "d4e4216.5ab06e"
            ]
        ]
    },
    {
        "id": "d8e9c685.e6efb8",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "d4e4216.5ab06e"
            ]
        ]
    },
    {
        "id": "d4e4216.5ab06e",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Announce",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{}",
        "mergecontext": "",
        "x": 705,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "de7abd66.51824",
        "type": "switch",
        "z": "a938b5fc.32b1d8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 150,
        "wires": [
            [
                "c865423e.f2656"
            ],
            [
                "2b6abef0.bd3632"
            ],
            [
                "d8e9c685.e6efb8"
            ],
            [
                "c865423e.f2656",
                "2b6abef0.bd3632",
                "d8e9c685.e6efb8"
            ]
        ]
    },
    {
        "id": "8f1d307e.afa5f",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Artist/Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.artist_song",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 90,
        "y": 225,
        "wires": [
            [
                "6c28604b.4de44",
                "479ffce1.220284"
            ]
        ]
    },
    {
        "id": "6c28604b.4de44",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{   \"entity_id\": \"input_text.artist_song\",\"value\":\"\" }",
        "mergecontext": "",
        "x": 285,
        "y": 225,
        "wires": [
            []
        ]
    },
    {
        "id": "81454f10.d88a8",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 330,
        "wires": [
            [
                "64e7204f.655fe"
            ]
        ]
    },
    {
        "id": "b1934ecd.e86d",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "64e7204f.655fe"
            ]
        ]
    },
    {
        "id": "ae3f3389.21837",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 390,
        "wires": [
            [
                "64e7204f.655fe"
            ]
        ]
    },
    {
        "id": "955e2f90.b5f58",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 375,
        "wires": [
            []
        ]
    },
    {
        "id": "5d78f711.a44ad8",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{   \"entity_id\": \"input_text.artist_radio\",\"value\":\"\" }",
        "mergecontext": "",
        "x": 285,
        "y": 465,
        "wires": [
            []
        ]
    },
    {
        "id": "1a071cd9.36a253",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 570,
        "wires": [
            [
                "9da0c107.bc016"
            ]
        ]
    },
    {
        "id": "9ac652a7.71511",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 600,
        "wires": [
            [
                "9da0c107.bc016"
            ]
        ]
    },
    {
        "id": "bd6c3b6d.2a91e8",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 630,
        "wires": [
            [
                "9da0c107.bc016"
            ]
        ]
    },
    {
        "id": "b2ea610.a4d95a",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 615,
        "wires": [
            []
        ]
    },
    {
        "id": "5d0d6a19.1914b4",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 810,
        "wires": [
            [
                "e8afc349.276af"
            ]
        ]
    },
    {
        "id": "fdd052a4.923f6",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 840,
        "wires": [
            [
                "e8afc349.276af"
            ]
        ]
    },
    {
        "id": "588aa490.2c91dc",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 870,
        "wires": [
            [
                "e8afc349.276af"
            ]
        ]
    },
    {
        "id": "3fd961cf.d43b9e",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 855,
        "wires": [
            []
        ]
    },
    {
        "id": "db4db05f.bfc16",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 225,
        "wires": [
            []
        ]
    },
    {
        "id": "36cd954c.a4195a",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 255,
        "wires": [
            []
        ]
    },
    {
        "id": "b89a0d3a.e873b",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 285,
        "wires": [
            []
        ]
    },
    {
        "id": "64e7204f.655fe",
        "type": "delay",
        "z": "a938b5fc.32b1d8",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 375,
        "wires": [
            [
                "955e2f90.b5f58"
            ]
        ]
    },
    {
        "id": "c4c06870.d35a58",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 495,
        "wires": [
            []
        ]
    },
    {
        "id": "396e6473.7995cc",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 525,
        "wires": [
            []
        ]
    },
    {
        "id": "4cb84bb1.ebe3d4",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 465,
        "wires": [
            []
        ]
    },
    {
        "id": "9da0c107.bc016",
        "type": "delay",
        "z": "a938b5fc.32b1d8",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 615,
        "wires": [
            [
                "b2ea610.a4d95a"
            ]
        ]
    },
    {
        "id": "be33868.7e1ab78",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 735,
        "wires": [
            []
        ]
    },
    {
        "id": "c1f25362.b3e62",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 765,
        "wires": [
            []
        ]
    },
    {
        "id": "72962b97.33d7c4",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 705,
        "wires": [
            []
        ]
    },
    {
        "id": "e8afc349.276af",
        "type": "delay",
        "z": "a938b5fc.32b1d8",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 855,
        "wires": [
            [
                "3fd961cf.d43b9e"
            ]
        ]
    },
    {
        "id": "74deef92.664d5",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Stop Music",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.stop_music",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 90,
        "y": 945,
        "wires": [
            [
                "2bf870d9.0a6aa",
                "a3179f4f.b7e36"
            ]
        ]
    },
    {
        "id": "22f52cc9.6b46f4",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 990,
        "wires": [
            []
        ]
    },
    {
        "id": "4ca0cd4d.428c74",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "77cdbc0.bdfdf44",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "2bf870d9.0a6aa",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Stop Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.stop_music\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 945,
        "wires": [
            []
        ]
    },
    {
        "id": "bec110c9.db099",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Next Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.next_song",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 90,
        "y": 1095,
        "wires": [
            [
                "7a287f33.8d02c",
                "8dfbd917.955d88"
            ]
        ]
    },
    {
        "id": "40fe1b9f.462744",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Living Room Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "32dbeda4.ab3e62",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1170,
        "wires": [
            []
        ]
    },
    {
        "id": "4379eaa5.fdede4",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 1110,
        "wires": [
            []
        ]
    },
    {
        "id": "7a287f33.8d02c",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Next Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.next_song\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 1095,
        "wires": [
            []
        ]
    },
    {
        "id": "9c5695c4.93cdd8",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Previous Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.previous_song",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 110,
        "y": 1245,
        "wires": [
            [
                "f21aeec3.819bc",
                "ebccc00c.66669"
            ]
        ]
    },
    {
        "id": "fd2396b6.7273b8",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Living Room Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 550,
        "y": 1290,
        "wires": [
            []
        ]
    },
    {
        "id": "c9d51ad4.eff778",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "dc29d3e6.7dfae",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "f21aeec3.819bc",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Prev Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.previous_song\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 1245,
        "wires": [
            []
        ]
    },
    {
        "id": "19ac3000.f927c",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Group",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" station on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 900,
        "wires": [
            [
                "e8afc349.276af"
            ]
        ]
    },
    {
        "id": "673d1385.5ee1ac",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Group",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "64e7204f.655fe"
            ]
        ]
    },
    {
        "id": "2fd72c3a.57b4c4",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Group",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" radio on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 660,
        "wires": [
            [
                "9da0c107.bc016"
            ]
        ]
    },
    {
        "id": "71d3fef4.0b031",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Volume",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_number.echo_volume",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 80,
        "y": 1410,
        "wires": [
            [
                "a6f42655.47a288",
                "6efa51f8.2239b"
            ]
        ]
    },
    {
        "id": "713173cc.73f2bc",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Set Volume",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "{}",
        "mergecontext": "",
        "x": 715,
        "y": 1485,
        "wires": [
            []
        ]
    },
    {
        "id": "9ac61134.f888d",
        "type": "change",
        "z": "a938b5fc.32b1d8",
        "name": "Save volume",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1410,
        "wires": [
            []
        ]
    },
    {
        "id": "394fea1d.4fba36",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.kitchen_echo\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1455,
        "wires": [
            [
                "713173cc.73f2bc"
            ]
        ]
    },
    {
        "id": "9af261ec.92db5",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Living Room",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.living_room\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 521.0173645019531,
        "y": 1485.34375,
        "wires": [
            [
                "713173cc.73f2bc"
            ]
        ]
    },
    {
        "id": "4da37453.bb688c",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.bedroom_echo\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1515,
        "wires": [
            [
                "713173cc.73f2bc"
            ]
        ]
    },
    {
        "id": "a6f42655.47a288",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "/10",
        "func": "msg.payload = Number(msg.payload);\nmsg.payload = (msg.payload)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 1410,
        "wires": [
            [
                "9ac61134.f888d"
            ]
        ]
    },
    {
        "id": "310d552.b5413aa",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.media_kitchen_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "outputinitially": false,
        "x": 100,
        "y": 1590,
        "wires": [
            [
                "885d7ec3.044a5"
            ]
        ]
    },
    {
        "id": "29c64467.842b7c",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Living Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.media_living_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "outputinitially": false,
        "x": 100,
        "y": 1620,
        "wires": [
            [
                "885d7ec3.044a5"
            ]
        ]
    },
    {
        "id": "885d7ec3.044a5",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Artist",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"input_text.artist_playing\",\n        \"value\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 1590,
        "wires": [
            [
                "3704f472.25f34c",
                "3497046a.3c8f9c"
            ]
        ]
    },
    {
        "id": "3704f472.25f34c",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Set input_text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{}",
        "mergecontext": "",
        "x": 530,
        "y": 1590,
        "wires": [
            []
        ]
    },
    {
        "id": "976fd94e.a9c528",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.media_bedroom_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "outputinitially": false,
        "x": 110,
        "y": 1650,
        "wires": [
            [
                "885d7ec3.044a5"
            ]
        ]
    },
    {
        "id": "30961d98.f3b572",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Kitchen Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.media_kitchen_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "outputinitially": false,
        "x": 100,
        "y": 1740,
        "wires": [
            [
                "62402220.0a8c7c"
            ]
        ]
    },
    {
        "id": "72c6b66d.4808c8",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Living Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.media_living_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "outputinitially": false,
        "x": 100,
        "y": 1770,
        "wires": [
            [
                "62402220.0a8c7c"
            ]
        ]
    },
    {
        "id": "62402220.0a8c7c",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Song",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"input_text.song_playing\",\n        \"value\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 1740,
        "wires": [
            [
                "f054ebfe.f7dbe8",
                "f4f42afd.6bbe28"
            ]
        ]
    },
    {
        "id": "f054ebfe.f7dbe8",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Set input_text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{}",
        "mergecontext": "",
        "x": 530,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "52eaef79.d1c65",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Bedroom Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.media_bedroom_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "outputinitially": false,
        "x": 110,
        "y": 1800,
        "wires": [
            [
                "62402220.0a8c7c"
            ]
        ]
    },
    {
        "id": "e29d72fc.df6dc",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Downstairs Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.media_downstairs_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "outputinitially": false,
        "x": 110,
        "y": 1680,
        "wires": [
            [
                "885d7ec3.044a5"
            ]
        ]
    },
    {
        "id": "410e3919.2b3588",
        "type": "server-state-changed",
        "z": "a938b5fc.32b1d8",
        "name": "Downstairs Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.media_downstairs_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "outputinitially": false,
        "x": 110,
        "y": 1830,
        "wires": [
            [
                "62402220.0a8c7c"
            ]
        ]
    },
    {
        "id": "5a77e604.d35ce8",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Group Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 520,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "af608565.212228",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Group Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1350,
        "wires": [
            []
        ]
    },
    {
        "id": "c485e65d.f72548",
        "type": "api-call-service",
        "z": "a938b5fc.32b1d8",
        "name": "Group Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 520,
        "y": 1050,
        "wires": [
            []
        ]
    },
    {
        "id": "8267e915.ebdfc8",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "Group",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.downstairs\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1545,
        "wires": [
            [
                "713173cc.73f2bc"
            ]
        ]
    },
    {
        "id": "479ffce1.220284",
        "type": "switch",
        "z": "a938b5fc.32b1d8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 285,
        "wires": [
            [
                "36cd954c.a4195a",
                "b89a0d3a.e873b",
                "81454f10.d88a8"
            ],
            [
                "db4db05f.bfc16",
                "b89a0d3a.e873b",
                "b1934ecd.e86d"
            ],
            [
                "db4db05f.bfc16",
                "36cd954c.a4195a",
                "ae3f3389.21837"
            ],
            [
                "db4db05f.bfc16",
                "36cd954c.a4195a",
                "b89a0d3a.e873b",
                "673d1385.5ee1ac"
            ]
        ]
    },
    {
        "id": "2bd62fcd.7fa9f",
        "type": "switch",
        "z": "a938b5fc.32b1d8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 525,
        "wires": [
            [
                "396e6473.7995cc",
                "1a071cd9.36a253",
                "c4c06870.d35a58"
            ],
            [
                "4cb84bb1.ebe3d4",
                "396e6473.7995cc",
                "9ac652a7.71511"
            ],
            [
                "4cb84bb1.ebe3d4",
                "c4c06870.d35a58",
                "bd6c3b6d.2a91e8"
            ],
            [
                "4cb84bb1.ebe3d4",
                "c4c06870.d35a58",
                "396e6473.7995cc",
                "2fd72c3a.57b4c4"
            ]
        ]
    },
    {
        "id": "8b4c25bb.bc5478",
        "type": "switch",
        "z": "a938b5fc.32b1d8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 765,
        "wires": [
            [
                "be33868.7e1ab78",
                "c1f25362.b3e62",
                "5d0d6a19.1914b4"
            ],
            [
                "72962b97.33d7c4",
                "c1f25362.b3e62",
                "fdd052a4.923f6"
            ],
            [
                "72962b97.33d7c4",
                "be33868.7e1ab78",
                "588aa490.2c91dc"
            ],
            [
                "72962b97.33d7c4",
                "be33868.7e1ab78",
                "c1f25362.b3e62",
                "19ac3000.f927c"
            ]
        ]
    },
    {
        "id": "a3179f4f.b7e36",
        "type": "switch",
        "z": "a938b5fc.32b1d8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1005,
        "wires": [
            [
                "77cdbc0.bdfdf44"
            ],
            [
                "22f52cc9.6b46f4"
            ],
            [
                "4ca0cd4d.428c74"
            ],
            [
                "c485e65d.f72548"
            ]
        ]
    },
    {
        "id": "8dfbd917.955d88",
        "type": "switch",
        "z": "a938b5fc.32b1d8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1155,
        "wires": [
            [
                "4379eaa5.fdede4"
            ],
            [
                "40fe1b9f.462744"
            ],
            [
                "32dbeda4.ab3e62"
            ],
            [
                "5a77e604.d35ce8"
            ]
        ]
    },
    {
        "id": "ebccc00c.66669",
        "type": "switch",
        "z": "a938b5fc.32b1d8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1305,
        "wires": [
            [
                "dc29d3e6.7dfae"
            ],
            [
                "fd2396b6.7273b8"
            ],
            [
                "c9d51ad4.eff778"
            ],
            [
                "af608565.212228"
            ]
        ]
    },
    {
        "id": "5c796c0d.e2dba4",
        "type": "switch",
        "z": "a938b5fc.32b1d8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1470,
        "wires": [
            [
                "394fea1d.4fba36"
            ],
            [
                "9af261ec.92db5"
            ],
            [
                "4da37453.bb688c"
            ],
            [
                "8267e915.ebdfc8"
            ]
        ]
    },
    {
        "id": "f4f42afd.6bbe28",
        "type": "delay",
        "z": "a938b5fc.32b1d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 330,
        "y": 1800,
        "wires": [
            [
                "dc965e9d.d8716"
            ]
        ]
    },
    {
        "id": "dc965e9d.d8716",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "reset",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"input_text.song_playing\",\n        \"value\": \"\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1800,
        "wires": [
            [
                "f054ebfe.f7dbe8"
            ]
        ]
    },
    {
        "id": "3497046a.3c8f9c",
        "type": "delay",
        "z": "a938b5fc.32b1d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 330,
        "y": 1650,
        "wires": [
            [
                "a73ad05e.27cf"
            ]
        ]
    },
    {
        "id": "a73ad05e.27cf",
        "type": "function",
        "z": "a938b5fc.32b1d8",
        "name": "reset",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"input_text.artist_playing\",\n        \"value\": \"\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1650,
        "wires": [
            [
                "3704f472.25f34c"
            ]
        ]
    },
    {
        "id": "6efa51f8.2239b",
        "type": "delay",
        "z": "a938b5fc.32b1d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 135,
        "y": 1470,
        "wires": [
            [
                "5c796c0d.e2dba4"
            ]
        ]
    },
    {
        "id": "43c6abca.ce6fb4",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false
    }
]
