alexa_flow.json
[{"id":"7dbdf533.f3bf4c","type":"tab","label":"Alexa 2.0","disabled":false,"info":""},{"id":"387397f7.1bd018","type":"server-state-changed","z":"7dbdf533.f3bf4c","name":"Genre","server":"53328d1c.e233e4","entityidfilter":"input_text.genre","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":915,"wires":[["51c7ca3d.2b0f84"]]},{"id":"16a1c2.408b2e3f","type":"server-state-changed","z":"7dbdf533.f3bf4c","name":"Which Device","server":"53328d1c.e233e4","entityidfilter":"input_select.which_device","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":100,"y":30,"wires":[["ba6080c5.ac573"]]},{"id":"ba6080c5.ac573","type":"change","z":"7dbdf533.f3bf4c","name":"Save device","rules":[{"t":"set","p":"device","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":295,"y":30,"wires":[[]]},{"id":"152e635f.9b102d","type":"server-state-changed","z":"7dbdf533.f3bf4c","name":"Announce","server":"53328d1c.e233e4","entityidfilter":"input_text.announce","entityidfiltertype":"exact","haltifstate":"","outputs":1,"x":90,"y":105,"wires":[["c838e453.358758","9901277f.e85cf8"]]},{"id":"c838e453.358758","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Clear text","server":"53328d1c.e233e4","service_domain":"input_text","service":"set_value","data":"{\"entity_id\":\"input_text.announce\",\"value\":\"\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":285,"y":75,"wires":[[]]},{"id":"640533cd.9e251c","type":"server-state-changed","z":"7dbdf533.f3bf4c","name":"Artist Radio","server":"53328d1c.e233e4","entityidfilter":"input_text.artist_radio","entityidfiltertype":"exact","haltifstate":"","outputs":1,"x":100,"y":570,"wires":[["eabd69d1.92b4d8","50a0772e.144e48"]]},{"id":"e5beed6d.b5e76","type":"server-state-changed","z":"7dbdf533.f3bf4c","name":"Artist/Song","server":"53328d1c.e233e4","entityidfilter":"input_text.artist_song","entityidfiltertype":"exact","haltifstate":"","outputs":1,"x":90,"y":210,"wires":[["8bdd4307.db41f","efbb1341.3def9"]]},{"id":"8bdd4307.db41f","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Clear text","server":"53328d1c.e233e4","service_domain":"input_text","service":"set_value","data":"{\"entity_id\":\"input_text.artist_song\",\"value\":\"\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":285,"y":210,"wires":[[]]},{"id":"8186b3e0.48ce9","type":"function","z":"7dbdf533.f3bf4c","name":"Kitchen","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":315,"wires":[["a8d4628f.b7a6f"]]},{"id":"e773b3da.69186","type":"function","z":"7dbdf533.f3bf4c","name":"Living Room","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":345,"wires":[["a8d4628f.b7a6f"]]},{"id":"7778f823.a41dc8","type":"function","z":"7dbdf533.f3bf4c","name":"Bedroom","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":375,"wires":[["a8d4628f.b7a6f"]]},{"id":"757b29cb.6ad928","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Play","server":"53328d1c.e233e4","service_domain":"media_player","service":"play_media","data":"{}","mergecontext":"","x":875,"y":390,"wires":[[]]},{"id":"eabd69d1.92b4d8","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Clear text","server":"53328d1c.e233e4","service_domain":"input_text","service":"set_value","data":"{\"entity_id\":\"input_text.artist_radio\",\"value\":\"\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":285,"y":570,"wires":[[]]},{"id":"229ac17b.9702ae","type":"function","z":"7dbdf533.f3bf4c","name":"Kitchen","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":675,"wires":[["dbaf9469.6bd5e8"]]},{"id":"59108f23.15769","type":"function","z":"7dbdf533.f3bf4c","name":"Living Room","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":705,"wires":[["dbaf9469.6bd5e8"]]},{"id":"ac150daf.92e73","type":"function","z":"7dbdf533.f3bf4c","name":"Bedroom","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":735,"wires":[["dbaf9469.6bd5e8"]]},{"id":"73b8ad0e.06f1a4","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Play","server":"53328d1c.e233e4","service_domain":"media_player","service":"play_media","data":"{}","mergecontext":"","x":875,"y":735,"wires":[[]]},{"id":"34466bd8.a30304","type":"function","z":"7dbdf533.f3bf4c","name":"Kitchen","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1035,"wires":[["c541950b.b81158"]]},{"id":"bc1dd3f8.0a4fe","type":"function","z":"7dbdf533.f3bf4c","name":"Living Room","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1065,"wires":[["c541950b.b81158"]]},{"id":"cb129c86.c7aea","type":"function","z":"7dbdf533.f3bf4c","name":"Bedroom","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1095,"wires":[["c541950b.b81158"]]},{"id":"65874025.aae28","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Play","server":"53328d1c.e233e4","service_domain":"media_player","service":"play_media","data":"{}","mergecontext":"","x":860,"y":1095,"wires":[[]]},{"id":"72a78bb8.f15904","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Kitchen Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{ \"entity_id\": \"media_player.kitchen_echo\" }","mergecontext":"","x":520,"y":150,"wires":[[]]},{"id":"c77441a0.e18f2","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Living Room Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{ \"entity_id\": \"media_player.living_room_echo\" }","mergecontext":"","x":540,"y":180,"wires":[[]]},{"id":"2810693c.5fe386","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Bedroom Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{ \"entity_id\": \"media_player.bedroom_echo\" }","mergecontext":"","x":530,"y":210,"wires":[[]]},{"id":"a8d4628f.b7a6f","type":"delay","z":"7dbdf533.f3bf4c","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":390,"wires":[["757b29cb.6ad928"]]},{"id":"e3397cc8.1734f","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Living Room Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{ \"entity_id\": \"media_player.living_room_echo\" }","mergecontext":"","x":540,"y":540,"wires":[[]]},{"id":"d6737f3b.6615f","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Bedroom Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{ \"entity_id\": \"media_player.bedroom_echo\" }","mergecontext":"","x":530,"y":570,"wires":[[]]},{"id":"397f5e19.310f82","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Kitchen Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{ \"entity_id\": \"media_player.kitchen_echo\" }","mergecontext":"","x":520,"y":510,"wires":[[]]},{"id":"dbaf9469.6bd5e8","type":"delay","z":"7dbdf533.f3bf4c","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":735,"wires":[["73b8ad0e.06f1a4"]]},{"id":"1bcac7f3.192ee8","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Living Room Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{ \"entity_id\": \"media_player.living_room_echo\" }","mergecontext":"","x":540,"y":900,"wires":[[]]},{"id":"842c7e89.0e6dc","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Bedroom Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{ \"entity_id\": \"media_player.bedroom_echo\" }","mergecontext":"","x":530,"y":930,"wires":[[]]},{"id":"c4d362b6.a654d","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Kitchen Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"media_player.kitchen_echo\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":870,"wires":[[]]},{"id":"c541950b.b81158","type":"delay","z":"7dbdf533.f3bf4c","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":1095,"wires":[["65874025.aae28"]]},{"id":"e11cd990.328f28","type":"function","z":"7dbdf533.f3bf4c","name":"Group","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" station on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1185,"wires":[["c541950b.b81158"]]},{"id":"984aa0e3.995cf","type":"function","z":"7dbdf533.f3bf4c","name":"Group","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":465,"wires":[["a8d4628f.b7a6f"]]},{"id":"ac196baa.f24338","type":"function","z":"7dbdf533.f3bf4c","name":"Group","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" radio on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":825,"wires":[["dbaf9469.6bd5e8"]]},{"id":"efbb1341.3def9","type":"switch","z":"7dbdf533.f3bf4c","name":"Device?","property":"device","propertyType":"flow","rules":[{"t":"eq","v":"Kitchen","vt":"str"},{"t":"eq","v":"Living Room","vt":"str"},{"t":"eq","v":"Bedroom","vt":"str"},{"t":"eq","v":"Echo Show","vt":"str"},{"t":"eq","v":"Abigail","vt":"str"},{"t":"eq","v":"All","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":285,"y":270,"wires":[["c77441a0.e18f2","2810693c.5fe386","8186b3e0.48ce9","cfb5f9d9.594688","b3af5fee.5bfcc"],["72a78bb8.f15904","2810693c.5fe386","e773b3da.69186","cfb5f9d9.594688","b3af5fee.5bfcc"],["72a78bb8.f15904","c77441a0.e18f2","7778f823.a41dc8","cfb5f9d9.594688","b3af5fee.5bfcc"],["72a78bb8.f15904","c77441a0.e18f2","2810693c.5fe386","710f1e1a.b9fcf","b3af5fee.5bfcc"],["7ca8bd7c.9492c4","72a78bb8.f15904","c77441a0.e18f2","2810693c.5fe386","cfb5f9d9.594688"],["984aa0e3.995cf","72a78bb8.f15904","c77441a0.e18f2","2810693c.5fe386","cfb5f9d9.594688","b3af5fee.5bfcc"]]},{"id":"50a0772e.144e48","type":"switch","z":"7dbdf533.f3bf4c","name":"Device?","property":"device","propertyType":"flow","rules":[{"t":"eq","v":"Kitchen","vt":"str"},{"t":"eq","v":"Living Room","vt":"str"},{"t":"eq","v":"Bedroom","vt":"str"},{"t":"eq","v":"Echo Show","vt":"str"},{"t":"eq","v":"Abigail","vt":"str"},{"t":"eq","v":"All","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":285,"y":630,"wires":[["d6737f3b.6615f","229ac17b.9702ae","e3397cc8.1734f","b338837d.8b152","3adc8beb.5ec784"],["397f5e19.310f82","d6737f3b.6615f","59108f23.15769","b338837d.8b152","3adc8beb.5ec784"],["397f5e19.310f82","e3397cc8.1734f","ac150daf.92e73","b338837d.8b152","3adc8beb.5ec784"],["397f5e19.310f82","e3397cc8.1734f","d6737f3b.6615f","3adc8beb.5ec784","85d3304.6aa19d"],["397f5e19.310f82","e3397cc8.1734f","d6737f3b.6615f","b338837d.8b152","1308068.61130fa"],["397f5e19.310f82","e3397cc8.1734f","d6737f3b.6615f","b338837d.8b152","3adc8beb.5ec784","ac196baa.f24338"]]},{"id":"51c7ca3d.2b0f84","type":"switch","z":"7dbdf533.f3bf4c","name":"Device?","property":"device","propertyType":"flow","rules":[{"t":"eq","v":"Kitchen","vt":"str"},{"t":"eq","v":"Living Room","vt":"str"},{"t":"eq","v":"Bedroom","vt":"str"},{"t":"eq","v":"Echo Show","vt":"str"},{"t":"eq","v":"Abigail","vt":"str"},{"t":"eq","v":"All","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":285,"y":990,"wires":[["34466bd8.a30304","1bcac7f3.192ee8","842c7e89.0e6dc","e4b3cddb.d8404","f5084c21.21de7"],["bc1dd3f8.0a4fe","c4d362b6.a654d","842c7e89.0e6dc","e4b3cddb.d8404","f5084c21.21de7"],["cb129c86.c7aea","c4d362b6.a654d","1bcac7f3.192ee8","e4b3cddb.d8404","f5084c21.21de7"],["c4d362b6.a654d","ad0d4f79.c07f7","1bcac7f3.192ee8","842c7e89.0e6dc","f5084c21.21de7"],["a1a92ff3.b657d","c4d362b6.a654d","1bcac7f3.192ee8","842c7e89.0e6dc","e4b3cddb.d8404"],["e11cd990.328f28","c4d362b6.a654d","1bcac7f3.192ee8","842c7e89.0e6dc","e4b3cddb.d8404","f5084c21.21de7"]]},{"id":"4d08ed7b.690414","type":"function","z":"7dbdf533.f3bf4c","name":"Upstairs Temp Data","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.levi_s_echo_show\",\n        \"message\": \"the temperature upstairs is \" + flow.get(\"upstairstemp\") + \" degrees\",\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1590,"wires":[["1d3fe1f8.1f90ee"]]},{"id":"1d3fe1f8.1f90ee","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Announce","server":"53328d1c.e233e4","service_domain":"media_player","service":"alexa_tts","data":"{}","mergecontext":"","x":645,"y":1740,"wires":[[]]},{"id":"5b1c1216.fb50ec","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Upstairs Humidity","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.average_upstairs_humidity","state_type":"str","override_payload":true,"override_data":true,"x":315,"y":1320,"wires":[["aab675d9.8093f8"]]},{"id":"aab675d9.8093f8","type":"change","z":"7dbdf533.f3bf4c","name":"","rules":[{"t":"set","p":"upstairshumidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1320,"wires":[[]]},{"id":"f3848e04.699dd","type":"inject","z":"7dbdf533.f3bf4c","name":"Every 5 Min","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1275,"wires":[["1f61ec8d.8715f3","5b1c1216.fb50ec","d5c76a38.6957e8","2c86057f.1bb00a","a1a452e0.df1cf","b47d3585.0a2b78"]]},{"id":"1f61ec8d.8715f3","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Upstairs Temp","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.average_upstairs_temp","state_type":"str","override_payload":true,"override_data":true,"x":305,"y":1275,"wires":[["8fbdbcc7.2192b"]]},{"id":"8fbdbcc7.2192b","type":"change","z":"7dbdf533.f3bf4c","name":"","rules":[{"t":"set","p":"upstairstemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1275,"wires":[[]]},{"id":"46653dae.2be614","type":"comment","z":"7dbdf533.f3bf4c","name":"Save Rounded Temp/Humidity Sensor Values Every 5 Minutes","info":"","x":250,"y":1230,"wires":[]},{"id":"d5c76a38.6957e8","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Downstairs Temp","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.average_downstairs_temp","state_type":"str","override_payload":true,"override_data":true,"x":315,"y":1365,"wires":[["b317fc94.fac6f"]]},{"id":"2c86057f.1bb00a","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Downstairs Humidity","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.average_downstairs_humidity","state_type":"str","override_payload":true,"override_data":true,"x":325,"y":1410,"wires":[["b5c07e54.edd03"]]},{"id":"b317fc94.fac6f","type":"change","z":"7dbdf533.f3bf4c","name":"","rules":[{"t":"set","p":"downstairstemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1365,"wires":[[]]},{"id":"b5c07e54.edd03","type":"change","z":"7dbdf533.f3bf4c","name":"","rules":[{"t":"set","p":"downstairshumidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1410,"wires":[[]]},{"id":"668588c1.3d8cf8","type":"trigger-state","z":"7dbdf533.f3bf4c","name":"Upstairs Temp","server":"53328d1c.e233e4","entityid":"input_boolean.upstairs_temp","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yrr8try0n7","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"3f593rne1k1","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":110,"y":1590,"wires":[["4d08ed7b.690414","ec630442.383ab8"],[]]},{"id":"abf4a4f1.b68308","type":"comment","z":"7dbdf533.f3bf4c","name":"Alexa Triggers via Booleans/Routines - Announce Info","info":"","x":230,"y":1545,"wires":[]},{"id":"ec630442.383ab8","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Reset","server":"53328d1c.e233e4","service_domain":"homeassistant","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.upstairs_temp\"  }","mergecontext":"","x":320,"y":1620,"wires":[[]]},{"id":"4e538614.39b718","type":"function","z":"7dbdf533.f3bf4c","name":"Upstairs Humidiy Data","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.levi_s_echo_show\",\n        \"message\": \"the humidity upstairs is \" + flow.get(\"upstairshumidity\") + \" percent\",\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1650,"wires":[["1d3fe1f8.1f90ee"]]},{"id":"fccd7ebd.fe8e4","type":"trigger-state","z":"7dbdf533.f3bf4c","name":"Upstairs Humidity","server":"53328d1c.e233e4","entityid":"input_boolean.upstairs_humidity","debugenabled":false,"constraints":[{"id":"yrr8try0n7","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"3f593rne1k1","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":120,"y":1650,"wires":[["4e538614.39b718","2f8bd13a.fb55ee"],[]]},{"id":"2f8bd13a.fb55ee","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Reset","server":"53328d1c.e233e4","service_domain":"homeassistant","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.upstairs_humidity\"  }","mergecontext":"","x":320,"y":1680,"wires":[[]]},{"id":"bc8f2adf.d74ab8","type":"function","z":"7dbdf533.f3bf4c","name":"Downstairs Temp Data","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.levi_s_echo_show\",\n        \"message\": \"the temperature downstairs is \" + flow.get(\"downstairstemp\") + \" degrees\",\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1710,"wires":[["1d3fe1f8.1f90ee"]]},{"id":"89a5938.353c97","type":"trigger-state","z":"7dbdf533.f3bf4c","name":"Downstairs Temp","server":"53328d1c.e233e4","entityid":"input_boolean.downstairs_temp","debugenabled":false,"constraints":[{"id":"yrr8try0n7","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"3f593rne1k1","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":120,"y":1710,"wires":[["bc8f2adf.d74ab8","137b1d4f.c8ee33"],[]]},{"id":"137b1d4f.c8ee33","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Reset","server":"53328d1c.e233e4","service_domain":"homeassistant","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.downstairs_temp\"  }","mergecontext":"","x":320,"y":1740,"wires":[[]]},{"id":"52299694.3f9498","type":"function","z":"7dbdf533.f3bf4c","name":"Downstairs Humidity Data","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.levi_s_echo_show\",\n        \"message\": \"the humidity downstairs is \" + flow.get(\"downstairshumidity\") + \" percent\",\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1770,"wires":[["1d3fe1f8.1f90ee"]]},{"id":"5207ea27.587a94","type":"trigger-state","z":"7dbdf533.f3bf4c","name":"Downstairs Humidity","server":"53328d1c.e233e4","entityid":"input_boolean.downstairs_humidity","debugenabled":false,"constraints":[{"id":"yrr8try0n7","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"3f593rne1k1","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":130,"y":1770,"wires":[["52299694.3f9498","58c720c.3e90fe"],[]]},{"id":"58c720c.3e90fe","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Reset","server":"53328d1c.e233e4","service_domain":"homeassistant","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.downstairs_humidity\"  }","mergecontext":"","x":320,"y":1800,"wires":[[]]},{"id":"54e70807.8490c8","type":"function","z":"7dbdf533.f3bf4c","name":"Garage Temp Data","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.levi_s_echo_show\",\n        \"message\": \"the temperature in the garage is \" + flow.get(\"garagetemp\") + \" degrees\",\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1830,"wires":[["1d3fe1f8.1f90ee"]]},{"id":"8f192dbd.55e4f","type":"trigger-state","z":"7dbdf533.f3bf4c","name":"Garage Temp","server":"53328d1c.e233e4","entityid":"input_boolean.garage_temp","debugenabled":false,"constraints":[{"id":"yrr8try0n7","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"3f593rne1k1","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":110,"y":1830,"wires":[["54e70807.8490c8","9793f099.43de"],[]]},{"id":"9793f099.43de","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Reset","server":"53328d1c.e233e4","service_domain":"homeassistant","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.garage_temp\"  }","mergecontext":"","x":320,"y":1860,"wires":[[]]},{"id":"d2d27994.de7f28","type":"function","z":"7dbdf533.f3bf4c","name":"Garage Humidity Data","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.levi_s_echo_show\",\n        \"message\": \"the humidity in the garage is \" + flow.get(\"garagehumidity\") + \" percent\",\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1890,"wires":[["1d3fe1f8.1f90ee"]]},{"id":"6625287.418fdd8","type":"trigger-state","z":"7dbdf533.f3bf4c","name":"Garage Humidity","server":"53328d1c.e233e4","entityid":"input_boolean.garage_humidity","debugenabled":false,"constraints":[{"id":"yrr8try0n7","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"3f593rne1k1","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":120,"y":1890,"wires":[["d2d27994.de7f28","d7860806.950c88"],[]]},{"id":"d7860806.950c88","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Reset","server":"53328d1c.e233e4","service_domain":"homeassistant","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.garage_humidity\"  }","mergecontext":"","x":320,"y":1920,"wires":[[]]},{"id":"a1a452e0.df1cf","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Garage Temp","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.garage_temp","state_type":"str","override_payload":true,"override_data":true,"x":305,"y":1455,"wires":[["538b968d.526ab8"]]},{"id":"b47d3585.0a2b78","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Garage Humidity","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.garage_humidity","state_type":"str","override_payload":true,"override_data":true,"x":315,"y":1500,"wires":[["b7d1f4a0.967688"]]},{"id":"538b968d.526ab8","type":"change","z":"7dbdf533.f3bf4c","name":"","rules":[{"t":"set","p":"garagetemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1455,"wires":[[]]},{"id":"b7d1f4a0.967688","type":"change","z":"7dbdf533.f3bf4c","name":"","rules":[{"t":"set","p":"garagehumidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1500,"wires":[[]]},{"id":"cfb5f9d9.594688","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Echo Show Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{\"entity_id\":\"media_player.levis_echo_show\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":240,"wires":[[]]},{"id":"b3af5fee.5bfcc","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Abigail Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{\"entity_id\":\"media_player.abigail_echo\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":270,"wires":[[]]},{"id":"710f1e1a.b9fcf","type":"function","z":"7dbdf533.f3bf4c","name":"Echo Show","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.levi_s_echo_show\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":405,"wires":[["a8d4628f.b7a6f"]]},{"id":"7ca8bd7c.9492c4","type":"function","z":"7dbdf533.f3bf4c","name":"Abigail","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.abigail_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":435,"wires":[["a8d4628f.b7a6f"]]},{"id":"b338837d.8b152","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Echo Show Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{\"entity_id\":\"media_player.levis_echo_show\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":530,"y":600,"wires":[[]]},{"id":"3adc8beb.5ec784","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Abigail Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{\"entity_id\":\"media_player.abigail_echo\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":630,"wires":[[]]},{"id":"85d3304.6aa19d","type":"function","z":"7dbdf533.f3bf4c","name":"Echo Show","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.levi_s_echo_show\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":765,"wires":[["dbaf9469.6bd5e8"]]},{"id":"1308068.61130fa","type":"function","z":"7dbdf533.f3bf4c","name":"Abigail","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.abigail_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":795,"wires":[["dbaf9469.6bd5e8"]]},{"id":"e4b3cddb.d8404","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Echo Show Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{\"entity_id\":\"media_player.levi_s_echo_show\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":960,"wires":[[]]},{"id":"f5084c21.21de7","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Abigail Stop","server":"53328d1c.e233e4","service_domain":"media_player","service":"media_pause","data":"{\"entity_id\":\"media_player.abigail_echo\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":990,"wires":[[]]},{"id":"ad0d4f79.c07f7","type":"function","z":"7dbdf533.f3bf4c","name":"Echo Show","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.levi_s_echo_show\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1125,"wires":[["c541950b.b81158"]]},{"id":"a1a92ff3.b657d","type":"function","z":"7dbdf533.f3bf4c","name":"Abigail","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.abigail_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1155,"wires":[["c541950b.b81158"]]},{"id":"ad8125fb.f1f7e8","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Down Target","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_number.targettemp_downstairs","state_type":"num","override_payload":true,"override_data":true,"x":325,"y":2040,"wires":[["e9fc7b2.8a5d788"]]},{"id":"e9fc7b2.8a5d788","type":"function","z":"7dbdf533.f3bf4c","name":"hotter","func":"msg.payload = msg.payload+0.5;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":2040,"wires":[["21277e9f.98ba02","6e576b27.2c7d94"]]},{"id":"f385b8a1.429108","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Set Target","server":"53328d1c.e233e4","service_domain":"input_number","service":"set_value","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":820,"y":2040,"wires":[[]]},{"id":"6e576b27.2c7d94","type":"function","z":"7dbdf533.f3bf4c","name":"Down Target To Show","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.levi_s_echo_show\",\n        \"message\": \"ok. i set the downstairs temperature to \" + msg.payload + \" degrees\",\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2085,"wires":[["cbf98cac.8a2a2"]]},{"id":"cbf98cac.8a2a2","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Announce","server":"53328d1c.e233e4","service_domain":"media_player","service":"alexa_tts","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":855,"y":2085,"wires":[[]]},{"id":"9aa1a47e.838078","type":"trigger-state","z":"7dbdf533.f3bf4c","name":"Down Hotter","server":"53328d1c.e233e4","entityid":"input_boolean.downstairs_hotter","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"08g21h5fo7xb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"b4ibcyu9hjl","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":2025,"wires":[["ad8125fb.f1f7e8","f5e1d65b.5f9688"],[]]},{"id":"f5e1d65b.5f9688","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"reset","server":"53328d1c.e233e4","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.downstairs_hotter\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":305,"y":2010,"wires":[[]]},{"id":"8f76ba71.6bb4a8","type":"trigger-state","z":"7dbdf533.f3bf4c","name":"Down Cooler","server":"53328d1c.e233e4","entityid":"input_boolean.downstairs_cooler","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"08g21h5fo7xb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"b4ibcyu9hjl","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":2085,"wires":[["16051d91.7fd1b2","18d3e6a3.593ae9"],[]]},{"id":"18d3e6a3.593ae9","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"reset","server":"53328d1c.e233e4","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.downstairs_cooler\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":305,"y":2115,"wires":[[]]},{"id":"16051d91.7fd1b2","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Down Target","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_number.targettemp_downstairs","state_type":"num","override_payload":true,"override_data":true,"x":325,"y":2085,"wires":[["787ea4ed.d832bc"]]},{"id":"787ea4ed.d832bc","type":"function","z":"7dbdf533.f3bf4c","name":"cooler","func":"msg.payload = msg.payload-0.5;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":2085,"wires":[["21277e9f.98ba02","6e576b27.2c7d94"]]},{"id":"21277e9f.98ba02","type":"function","z":"7dbdf533.f3bf4c","name":"down value set","func":"\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"input_number.targettemp_downstairs\",\n        \"value\":msg.payload,\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2040,"wires":[["f385b8a1.429108"]]},{"id":"89504a4.914fdb8","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Up Target","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_number.targettemp_upstairs","state_type":"num","override_payload":true,"override_data":true,"x":315,"y":2190,"wires":[["8ce7354b.1dd018"]]},{"id":"8ce7354b.1dd018","type":"function","z":"7dbdf533.f3bf4c","name":"hotter","func":"msg.payload = msg.payload+0.5;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":2190,"wires":[["a3c06518.ab4f18","d11a0c8e.4c7af"]]},{"id":"a300c04f.4266b","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Set Target","server":"53328d1c.e233e4","service_domain":"input_number","service":"set_value","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":805,"y":2190,"wires":[[]]},{"id":"a3c06518.ab4f18","type":"function","z":"7dbdf533.f3bf4c","name":"Up Target To Show","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.levi_s_echo_show\",\n        \"message\": \"ok. i set the upstairs temperature to \" + msg.payload + \" degrees\",\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":2235,"wires":[["30edd10.809533"]]},{"id":"222c1a46.b75296","type":"trigger-state","z":"7dbdf533.f3bf4c","name":"Up Hotter","server":"53328d1c.e233e4","entityid":"input_boolean.upstairs_hotter","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"08g21h5fo7xb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"b4ibcyu9hjl","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":90,"y":2175,"wires":[["89504a4.914fdb8","69b59523.b20a5c"],[]]},{"id":"69b59523.b20a5c","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"reset","server":"53328d1c.e233e4","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.upstairs_hotter\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":305,"y":2160,"wires":[[]]},{"id":"77c14989.499258","type":"trigger-state","z":"7dbdf533.f3bf4c","name":"Up Cooler","server":"53328d1c.e233e4","entityid":"input_boolean.upstairs_cooler","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"08g21h5fo7xb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"b4ibcyu9hjl","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":90,"y":2235,"wires":[["c3c1cccb.49b1d","7863c9a3.941308"],[]]},{"id":"7863c9a3.941308","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"reset","server":"53328d1c.e233e4","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.upstairs_cooler\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":305,"y":2265,"wires":[[]]},{"id":"c3c1cccb.49b1d","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Up Target","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_number.targettemp_upstairs","state_type":"num","override_payload":true,"override_data":true,"x":315,"y":2235,"wires":[["55d541dd.985d6"]]},{"id":"55d541dd.985d6","type":"function","z":"7dbdf533.f3bf4c","name":"cooler","func":"msg.payload = msg.payload-0.5;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":2235,"wires":[["d11a0c8e.4c7af","a3c06518.ab4f18"]]},{"id":"d11a0c8e.4c7af","type":"function","z":"7dbdf533.f3bf4c","name":"up value set","func":"\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"input_number.targettemp_upstairs\",\n        \"value\":msg.payload,\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":2190,"wires":[["a300c04f.4266b"]]},{"id":"30edd10.809533","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Announce","server":"53328d1c.e233e4","service_domain":"media_player","service":"alexa_tts","data":"{}","mergecontext":"","x":855,"y":2235,"wires":[[]]},{"id":"a851b5a6.186958","type":"comment","z":"7dbdf533.f3bf4c","name":"Alexa Triggers via Booleans/Routines - Adjust HVAC","info":"","x":220,"y":1965,"wires":[]},{"id":"9901277f.e85cf8","type":"function","z":"7dbdf533.f3bf4c","name":"Announce","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"message\":msg.payload,\n        \"title\":msg.payload,\n        \"target\": [\"group.echos\"],\n        \"data\": {\"type\":\"announce\", \"method\":\"all\"}\n   }\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":510,"y":105,"wires":[["c3802601.d2e8e8"]]},{"id":"c3802601.d2e8e8","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Notify","server":"53328d1c.e233e4","service_domain":"notify","service":"alexa_media","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":695,"y":105,"wires":[[]]},{"id":"665734b6.690b4c","type":"change","z":"7dbdf533.f3bf4c","name":"","rules":[{"t":"set","p":"dogmorning","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2355,"wires":[[]]},{"id":"73ee1178.5f162","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Morning","server":"53328d1c.e233e4","outputs":2,"halt_if":"...","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dogs_fed_morning_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":315,"y":2355,"wires":[["665734b6.690b4c"],[]]},{"id":"61bb1ee8.a2a8b","type":"inject","z":"7dbdf533.f3bf4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":2355,"wires":[["73ee1178.5f162","f6813dc9.b1f58"]]},{"id":"f6813dc9.b1f58","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Evening","server":"53328d1c.e233e4","outputs":2,"halt_if":"...","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dogs_fed_evening_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":315,"y":2400,"wires":[["6b4ce5f9.81ce0c"],[]]},{"id":"6b4ce5f9.81ce0c","type":"change","z":"7dbdf533.f3bf4c","name":"","rules":[{"t":"set","p":"dogevening","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2400,"wires":[[]]},{"id":"4466265e.410d68","type":"comment","z":"7dbdf533.f3bf4c","name":"Save Dogs Fed Sensor Values Every 5 Minutes","info":"","x":210,"y":2310,"wires":[]},{"id":"6ba2fe30.35d27","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Morning?","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.dogs_fed_morning","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":315,"y":2490,"wires":[["be28fdf0.ac69c"]]},{"id":"be28fdf0.ac69c","type":"switch","z":"7dbdf533.f3bf4c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":455,"y":2490,"wires":[["d1e24808.fe6028"],["409b55f8.dea32c"]]},{"id":"d1e24808.fe6028","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Evening?","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.dogs_fed_evening","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":2490,"wires":[["f3acdca4.3c766"]]},{"id":"409b55f8.dea32c","type":"api-current-state","z":"7dbdf533.f3bf4c","name":"Evening?","server":"53328d1c.e233e4","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.dogs_fed_evening","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":2535,"wires":[["12f57b44.7261f5"]]},{"id":"f3acdca4.3c766","type":"switch","z":"7dbdf533.f3bf4c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":2490,"wires":[["14e91c1.2d3e7e4"],["fa35cbd3.221b48"]]},{"id":"12f57b44.7261f5","type":"switch","z":"7dbdf533.f3bf4c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":2535,"wires":[["8abc54e4.042a88"],["6562e245.a9d6cc"]]},{"id":"14e91c1.2d3e7e4","type":"change","z":"7dbdf533.f3bf4c","name":"both","rules":[{"t":"set","p":"payload","pt":"msg","to":"both","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":875,"y":2490,"wires":[["64239a37.381fc4"]]},{"id":"fa35cbd3.221b48","type":"change","z":"7dbdf533.f3bf4c","name":"morning only","rules":[{"t":"set","p":"payload","pt":"msg","to":"just morning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":2535,"wires":[["df846ca9.4844d"]]},{"id":"8abc54e4.042a88","type":"change","z":"7dbdf533.f3bf4c","name":"evening only","rules":[{"t":"set","p":"payload","pt":"msg","to":"just evening","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":2580,"wires":[["23c6c742.af8b58"]]},{"id":"b75ce38f.f32cd","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"reset","server":"53328d1c.e233e4","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.dogs_fed_alexa\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":455,"y":2535,"wires":[[]]},{"id":"3c4b2e04.1ac432","type":"delay","z":"7dbdf533.f3bf4c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":315,"y":2535,"wires":[["b75ce38f.f32cd"]]},{"id":"df846ca9.4844d","type":"function","z":"7dbdf533.f3bf4c","name":"Morning","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\": \"the dogs were fed this morning at \" + flow.get(\"dogmorning\") + \" . They have not been fed tonight\",\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2535,"wires":[["5cab437f.6c34bc"]]},{"id":"5cab437f.6c34bc","type":"api-call-service","z":"7dbdf533.f3bf4c","name":"Announce","server":"53328d1c.e233e4","service_domain":"media_player","service":"alexa_tts","data":"{}","mergecontext":"","x":1230,"y":2550,"wires":[[]]},{"id":"23c6c742.af8b58","type":"function","z":"7dbdf533.f3bf4c","name":"Evening","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\": \"the dogs were not fed this morning, but were fed tonight at \" + flow.get(\"dogevening\"),\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2580,"wires":[["5cab437f.6c34bc"]]},{"id":"64239a37.381fc4","type":"function","z":"7dbdf533.f3bf4c","name":"Both","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\": \"the dogs were fed twice today at \" + flow.get(\"dogmorning\") + \" and\" + flow.get(\"dogevening\") + \" I am sure they appreciate that\",\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":2490,"wires":[["5cab437f.6c34bc"]]},{"id":"6562e245.a9d6cc","type":"change","z":"7dbdf533.f3bf4c","name":"neither","rules":[{"t":"set","p":"payload","pt":"msg","to":"neither","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":875,"y":2625,"wires":[["b9f0ab71.a9b6c8"]]},{"id":"b9f0ab71.a9b6c8","type":"function","z":"7dbdf533.f3bf4c","name":"Neither","func":"if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\": \"the dogs were not fed today. they have sad faces i bet\",\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2625,"wires":[["5cab437f.6c34bc"]]},{"id":"557b0149.556f3","type":"trigger-state","z":"7dbdf533.f3bf4c","name":"Alexa","server":"53328d1c.e233e4","entityid":"input_boolean.dogs_fed_alexa","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"kvengjromfn","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"utxle5xiyug","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":80,"y":2490,"wires":[["6ba2fe30.35d27","3c4b2e04.1ac432"],[]]},{"id":"1761c42f.a8383c","type":"comment","z":"7dbdf533.f3bf4c","name":"Alexa Triggers via Booleans/Routines - Announce Dog Status","info":"","x":250,"y":2445,"wires":[]},{"id":"53328d1c.e233e4","type":"server","z":"","name":"Home Assistant","legacy":true,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]