alexaflow
[
    {
        "id": "7f267dd8.b0de64",
        "type": "tab",
        "label": "Alexa",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93dc8d0d.673be",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Genre selected",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_select.genre",
        "entityidfiltertype": "exact",
        "haltifstate": "Choose...",
        "x": 110,
        "y": 810,
        "wires": [
            [
                "84611f24.4138d",
                "c14cfbdf.306c28",
                "e0f9f1cc.7fed2",
                "3cf7123c.b633fe",
                "9a7b1a66.c07758"
            ]
        ]
    },
    {
        "id": "84611f24.4138d",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "{   \"entity_id\": \"input_select.genre\",\"option\":\"Choose...\" }",
        "mergecontext": "",
        "x": 275,
        "y": 810,
        "wires": [
            []
        ]
    },
    {
        "id": "67365933.5f4a68",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Which Device",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_select.which_device",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 30,
        "wires": [
            [
                "d78be031.3f943"
            ]
        ]
    },
    {
        "id": "d78be031.3f943",
        "type": "change",
        "z": "7f267dd8.b0de64",
        "name": "Save device",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 295,
        "y": 30,
        "wires": [
            []
        ]
    },
    {
        "id": "f59c490f.f2e458",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Announce",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.announce",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 90,
        "y": 105,
        "wires": [
            [
                "6b798f94.d3d38",
                "c3b7b8fc.2f3b78",
                "f2b0fcfc.d8444",
                "428c4da8.c68774",
                "4805d107.f5a6a"
            ]
        ]
    },
    {
        "id": "6b798f94.d3d38",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{\"entity_id\": \"input_text.announce\", \"value\":\"\"}",
        "mergecontext": "",
        "x": 285,
        "y": 90,
        "wires": [
            []
        ]
    },
    {
        "id": "aec8b5b7.589918",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Artist Radio",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.artist_radio",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "e7c77f06.80029",
                "dcd02649.9467e8",
                "474ef8da.688e78",
                "f67ab498.2aa7a8",
                "5bf968f8.4952e8"
            ]
        ]
    },
    {
        "id": "c3b7b8fc.2f3b78",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "All",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 275,
        "y": 225,
        "wires": [
            [
                "b23a56e3.073ff8",
                "179b49f2.b51bd6",
                "2e3fed20.9f64a2"
            ]
        ]
    },
    {
        "id": "179b49f2.b51bd6",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 165,
        "wires": [
            [
                "9d701247.d6dbd"
            ]
        ]
    },
    {
        "id": "b23a56e3.073ff8",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 135,
        "wires": [
            [
                "9d701247.d6dbd"
            ]
        ]
    },
    {
        "id": "2e3fed20.9f64a2",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 195,
        "wires": [
            [
                "9d701247.d6dbd"
            ]
        ]
    },
    {
        "id": "9d701247.d6dbd",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Announce",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{}",
        "mergecontext": "",
        "x": 750,
        "y": 165,
        "wires": [
            []
        ]
    },
    {
        "id": "f2b0fcfc.d8444",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 135,
        "wires": [
            [
                "b23a56e3.073ff8"
            ]
        ]
    },
    {
        "id": "428c4da8.c68774",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 295,
        "y": 165,
        "wires": [
            [
                "179b49f2.b51bd6"
            ]
        ]
    },
    {
        "id": "4805d107.f5a6a",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 195,
        "wires": [
            [
                "2e3fed20.9f64a2"
            ]
        ]
    },
    {
        "id": "1dcc61a8.51b94e",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Artist/Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.artist_song",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 90,
        "y": 285,
        "wires": [
            [
                "77f03a39.47ce74",
                "55aef603.c57228",
                "f3525035.83af9",
                "9a549e01.fc813",
                "fd84364f.35aee8"
            ]
        ]
    },
    {
        "id": "77f03a39.47ce74",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{   \"entity_id\": \"input_text.artist_song\",\"value\":\"\" }",
        "mergecontext": "",
        "x": 285,
        "y": 285,
        "wires": [
            []
        ]
    },
    {
        "id": "55aef603.c57228",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 330,
        "wires": [
            [
                "2ae5b471.2a26dc",
                "34b7b89e.6c8658",
                "8acc0ca8.13e03"
            ]
        ]
    },
    {
        "id": "f3525035.83af9",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 295,
        "y": 360,
        "wires": [
            [
                "1b2aad17.435413",
                "780a44ab.557adc",
                "8acc0ca8.13e03"
            ]
        ]
    },
    {
        "id": "9a549e01.fc813",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 390,
        "wires": [
            [
                "7fc59156.729ec",
                "780a44ab.557adc",
                "34b7b89e.6c8658"
            ]
        ]
    },
    {
        "id": "2ae5b471.2a26dc",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 390,
        "wires": [
            [
                "b13f09ab.f9ee78"
            ]
        ]
    },
    {
        "id": "1b2aad17.435413",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 420,
        "wires": [
            [
                "b13f09ab.f9ee78"
            ]
        ]
    },
    {
        "id": "7fc59156.729ec",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 450,
        "wires": [
            [
                "b13f09ab.f9ee78"
            ]
        ]
    },
    {
        "id": "eb315aea.9c6f88",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 435,
        "wires": [
            []
        ]
    },
    {
        "id": "e7c77f06.80029",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{   \"entity_id\": \"input_text.artist_radio\",\"value\":\"\" }",
        "mergecontext": "",
        "x": 285,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "dcd02649.9467e8",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 585,
        "wires": [
            [
                "468a8b36.889f44",
                "61c35bd.32605a4",
                "cd26fcf4.ba7c4"
            ]
        ]
    },
    {
        "id": "474ef8da.688e78",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 295,
        "y": 615,
        "wires": [
            [
                "ff1077fa.ab5368",
                "b5691fe1.49295",
                "cd26fcf4.ba7c4"
            ]
        ]
    },
    {
        "id": "f67ab498.2aa7a8",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 645,
        "wires": [
            [
                "72b54099.bd365",
                "b5691fe1.49295",
                "61c35bd.32605a4"
            ]
        ]
    },
    {
        "id": "c14cfbdf.306c28",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 855,
        "wires": [
            [
                "79e99d2d.743544",
                "4143333f.df472c",
                "555a1e66.a4cb8"
            ]
        ]
    },
    {
        "id": "e0f9f1cc.7fed2",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 295,
        "y": 885,
        "wires": [
            [
                "5f6509c7.35e278",
                "4143333f.df472c",
                "bb7506cc.5d7358"
            ]
        ]
    },
    {
        "id": "3cf7123c.b633fe",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 915,
        "wires": [
            [
                "79e99d2d.743544",
                "5f6509c7.35e278",
                "7a5fa019.80bcd"
            ]
        ]
    },
    {
        "id": "468a8b36.889f44",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 660,
        "wires": [
            [
                "98745999.680968"
            ]
        ]
    },
    {
        "id": "ff1077fa.ab5368",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 690,
        "wires": [
            [
                "98745999.680968"
            ]
        ]
    },
    {
        "id": "72b54099.bd365",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 720,
        "wires": [
            [
                "98745999.680968"
            ]
        ]
    },
    {
        "id": "d44281c9.dfb58",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 705,
        "wires": [
            []
        ]
    },
    {
        "id": "555a1e66.a4cb8",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 915,
        "wires": [
            [
                "112ad40f.7b717c"
            ]
        ]
    },
    {
        "id": "bb7506cc.5d7358",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 945,
        "wires": [
            [
                "112ad40f.7b717c"
            ]
        ]
    },
    {
        "id": "7a5fa019.80bcd",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 975,
        "wires": [
            [
                "112ad40f.7b717c"
            ]
        ]
    },
    {
        "id": "7c0eb874.9a32e8",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "780a44ab.557adc",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 285,
        "wires": [
            []
        ]
    },
    {
        "id": "34b7b89e.6c8658",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 315,
        "wires": [
            []
        ]
    },
    {
        "id": "8acc0ca8.13e03",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 345,
        "wires": [
            []
        ]
    },
    {
        "id": "b13f09ab.f9ee78",
        "type": "delay",
        "z": "7f267dd8.b0de64",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 435,
        "wires": [
            [
                "eb315aea.9c6f88"
            ]
        ]
    },
    {
        "id": "61c35bd.32605a4",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 570,
        "wires": [
            []
        ]
    },
    {
        "id": "cd26fcf4.ba7c4",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "b5691fe1.49295",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "98745999.680968",
        "type": "delay",
        "z": "7f267dd8.b0de64",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 705,
        "wires": [
            [
                "d44281c9.dfb58"
            ]
        ]
    },
    {
        "id": "79e99d2d.743544",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "4143333f.df472c",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 870,
        "wires": [
            []
        ]
    },
    {
        "id": "5f6509c7.35e278",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 810,
        "wires": [
            []
        ]
    },
    {
        "id": "112ad40f.7b717c",
        "type": "delay",
        "z": "7f267dd8.b0de64",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 960,
        "wires": [
            [
                "7c0eb874.9a32e8"
            ]
        ]
    },
    {
        "id": "3c88232d.32a95c",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Stop Music",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.stop_music",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 75,
        "y": 1065,
        "wires": [
            [
                "836292ad.5525c",
                "9c216e1a.7d939",
                "c647b505.b081f8",
                "220f7d27.bb0122",
                "333b7a6b.993746"
            ]
        ]
    },
    {
        "id": "d9a54bd0.1f4568",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "5fe5b395.4d082c",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1170,
        "wires": [
            []
        ]
    },
    {
        "id": "3bd58593.d8b3da",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 1110,
        "wires": [
            []
        ]
    },
    {
        "id": "836292ad.5525c",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Stop Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.stop_music\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 1065,
        "wires": [
            []
        ]
    },
    {
        "id": "fb754873.d99c48",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Next Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.next_song",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 75,
        "y": 1245,
        "wires": [
            [
                "2c8758a2.0dcb18",
                "d4a1c28a.88bce",
                "acb1e417.72d318",
                "3b1daeab.b342c2",
                "81039e23.48dee"
            ]
        ]
    },
    {
        "id": "d96f8938.3b0b68",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Living Room Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "b73a2a.1fc005d8",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1350,
        "wires": [
            []
        ]
    },
    {
        "id": "e4bf9477.bea0f8",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 1290,
        "wires": [
            []
        ]
    },
    {
        "id": "2c8758a2.0dcb18",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Next Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.next_song\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 1245,
        "wires": [
            []
        ]
    },
    {
        "id": "4e6bba37.b2df64",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Previous Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.previous_song",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 95,
        "y": 1425,
        "wires": [
            [
                "c669497d.a14ba8",
                "3637a867.648328",
                "98fb360a.587468",
                "c3b78351.0e1dc",
                "1d4cec18.3f1394"
            ]
        ]
    },
    {
        "id": "6a468ebb.40bc7",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Living Room Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 550,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "d80dfa84.0f15f8",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1530,
        "wires": [
            []
        ]
    },
    {
        "id": "5fda3fa3.516d5",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1470,
        "wires": [
            []
        ]
    },
    {
        "id": "c669497d.a14ba8",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Next Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.previous_song\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 1425,
        "wires": [
            []
        ]
    },
    {
        "id": "9a7b1a66.c07758",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "All",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 275,
        "y": 945,
        "wires": [
            [
                "5f6509c7.35e278",
                "79e99d2d.743544",
                "4143333f.df472c",
                "1cedb375.38179d"
            ]
        ]
    },
    {
        "id": "1cedb375.38179d",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "All",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" station on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1005,
        "wires": [
            [
                "112ad40f.7b717c"
            ]
        ]
    },
    {
        "id": "b4fc2b9a.024db8",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "All",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 480,
        "wires": [
            [
                "b13f09ab.f9ee78"
            ]
        ]
    },
    {
        "id": "fd84364f.35aee8",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "All",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 275,
        "y": 420,
        "wires": [
            [
                "b4fc2b9a.024db8",
                "780a44ab.557adc",
                "34b7b89e.6c8658",
                "8acc0ca8.13e03"
            ]
        ]
    },
    {
        "id": "d343d2f2.ddbd7",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "All",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" radio on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 750,
        "wires": [
            [
                "98745999.680968"
            ]
        ]
    },
    {
        "id": "5bf968f8.4952e8",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "All",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 275,
        "y": 675,
        "wires": [
            [
                "d343d2f2.ddbd7",
                "b5691fe1.49295",
                "61c35bd.32605a4",
                "cd26fcf4.ba7c4"
            ]
        ]
    },
    {
        "id": "9c216e1a.7d939",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 1110,
        "wires": [
            [
                "3bd58593.d8b3da"
            ]
        ]
    },
    {
        "id": "c647b505.b081f8",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 295,
        "y": 1140,
        "wires": [
            [
                "d9a54bd0.1f4568"
            ]
        ]
    },
    {
        "id": "220f7d27.bb0122",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 1170,
        "wires": [
            [
                "5fe5b395.4d082c"
            ]
        ]
    },
    {
        "id": "333b7a6b.993746",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "All",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 275,
        "y": 1200,
        "wires": [
            [
                "39e34805.bff228"
            ]
        ]
    },
    {
        "id": "d4a1c28a.88bce",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 1290,
        "wires": [
            [
                "e4bf9477.bea0f8"
            ]
        ]
    },
    {
        "id": "acb1e417.72d318",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 295,
        "y": 1320,
        "wires": [
            [
                "d96f8938.3b0b68"
            ]
        ]
    },
    {
        "id": "3b1daeab.b342c2",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 1350,
        "wires": [
            [
                "b73a2a.1fc005d8"
            ]
        ]
    },
    {
        "id": "81039e23.48dee",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "All",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 275,
        "y": 1380,
        "wires": [
            [
                "605d823d.eb1b4c"
            ]
        ]
    },
    {
        "id": "3637a867.648328",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 1470,
        "wires": [
            [
                "5fda3fa3.516d5"
            ]
        ]
    },
    {
        "id": "98fb360a.587468",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 295,
        "y": 1500,
        "wires": [
            [
                "6a468ebb.40bc7"
            ]
        ]
    },
    {
        "id": "c3b78351.0e1dc",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 1530,
        "wires": [
            [
                "d80dfa84.0f15f8"
            ]
        ]
    },
    {
        "id": "1d4cec18.3f1394",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "All",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 275,
        "y": 1560,
        "wires": [
            [
                "966d41a4.1b71f"
            ]
        ]
    },
    {
        "id": "a413fc64.6a8f9",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Volume",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_number.echo_volume",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 65,
        "y": 1620,
        "wires": [
            [
                "92705a53.b73f38",
                "868dcb50.742068",
                "8bac4337.232d3",
                "797ad710.ab4c48",
                "c63ba8d7.be9cd8"
            ]
        ]
    },
    {
        "id": "92705a53.b73f38",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 1650,
        "wires": [
            [
                "43cf3dda.be82b4"
            ]
        ]
    },
    {
        "id": "868dcb50.742068",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 295,
        "y": 1680,
        "wires": [
            [
                "cd2e696b.9e76b8"
            ]
        ]
    },
    {
        "id": "8bac4337.232d3",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 285,
        "y": 1710,
        "wires": [
            [
                "76d6e6.6801091c"
            ]
        ]
    },
    {
        "id": "797ad710.ab4c48",
        "type": "switch",
        "z": "7f267dd8.b0de64",
        "name": "All",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 275,
        "y": 1740,
        "wires": [
            [
                "30d1e926.c69ed6"
            ]
        ]
    },
    {
        "id": "b8bddc3.f50632",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Set Volume",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "{}",
        "mergecontext": "",
        "x": 715,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "3e622c5d.b975f4",
        "type": "change",
        "z": "7f267dd8.b0de64",
        "name": "Save volume",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1605,
        "wires": [
            []
        ]
    },
    {
        "id": "43cf3dda.be82b4",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.kitchen_echo\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1650,
        "wires": [
            [
                "b8bddc3.f50632"
            ]
        ]
    },
    {
        "id": "cd2e696b.9e76b8",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Living Room",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.living_room\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 521.0173645019531,
        "y": 1680.34375,
        "wires": [
            [
                "b8bddc3.f50632"
            ]
        ]
    },
    {
        "id": "76d6e6.6801091c",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.bedroom_echo\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1710,
        "wires": [
            [
                "b8bddc3.f50632"
            ]
        ]
    },
    {
        "id": "c63ba8d7.be9cd8",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Divide",
        "func": "msg.payload = Number(msg.payload);\nmsg.payload = (msg.payload)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 1605,
        "wires": [
            [
                "3e622c5d.b975f4"
            ]
        ]
    },
    {
        "id": "42c510f4.68dba",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.kitchen_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 85,
        "y": 1800,
        "wires": [
            [
                "389f0a11.fed7e6"
            ]
        ]
    },
    {
        "id": "8378fbfb.959548",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Living Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.living_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 85,
        "y": 1830,
        "wires": [
            [
                "389f0a11.fed7e6"
            ]
        ]
    },
    {
        "id": "389f0a11.fed7e6",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Artist",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"input_text.artist_playing\",\n        \"value\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 1800,
        "wires": [
            [
                "c37a8214.f34bf"
            ]
        ]
    },
    {
        "id": "c37a8214.f34bf",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Set Input",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{}",
        "mergecontext": "",
        "x": 510,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "566ad778.471238",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.bedroom_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 95,
        "y": 1860,
        "wires": [
            [
                "389f0a11.fed7e6"
            ]
        ]
    },
    {
        "id": "80222de6.d894c",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Kitchen Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.kitchen_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 85,
        "y": 1950,
        "wires": [
            [
                "95b0c6aa.c268d8"
            ]
        ]
    },
    {
        "id": "772acb70.ba4954",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Living Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.living_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 85,
        "y": 1980,
        "wires": [
            [
                "95b0c6aa.c268d8"
            ]
        ]
    },
    {
        "id": "95b0c6aa.c268d8",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Song",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"input_text.song_playing\",\n        \"value\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 1950,
        "wires": [
            [
                "629cb06f.637aa"
            ]
        ]
    },
    {
        "id": "629cb06f.637aa",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Set Input",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{}",
        "mergecontext": "",
        "x": 510,
        "y": 1950,
        "wires": [
            []
        ]
    },
    {
        "id": "c023461f.8ac988",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Bedroom Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.bedroom_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 95,
        "y": 2010,
        "wires": [
            [
                "95b0c6aa.c268d8"
            ]
        ]
    },
    {
        "id": "b6e37b50.dee2b8",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Downstairs Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.downstairs_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 95,
        "y": 1890,
        "wires": [
            [
                "389f0a11.fed7e6"
            ]
        ]
    },
    {
        "id": "b7df257f.b13a48",
        "type": "server-state-changed",
        "z": "7f267dd8.b0de64",
        "name": "Downstairs Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.downstairs_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 95,
        "y": 2040,
        "wires": [
            [
                "95b0c6aa.c268d8"
            ]
        ]
    },
    {
        "id": "605d823d.eb1b4c",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Downstairs Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "966d41a4.1b71f",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Downstairs Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 550,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "39e34805.bff228",
        "type": "api-call-service",
        "z": "7f267dd8.b0de64",
        "name": "Downstairs Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "30d1e926.c69ed6",
        "type": "function",
        "z": "7f267dd8.b0de64",
        "name": "Downstairs",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.downstairs\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1740,
        "wires": [
            [
                "b8bddc3.f50632"
            ]
        ]
    },
    {
        "id": "43c6abca.ce6fb4",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "url": "http://yourHAIP:8123",
        "pass": "yoursecretpassword"
    }
]
