alexa flow 2.0
[
    {
        "id": "a93d581b.41ecf8",
        "type": "tab",
        "label": "Alexa 2.0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f12718b5.b17b68",
        "type": "server-state-changed",
        "z": "a93d581b.41ecf8",
        "name": "Genre selected",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_select.genre",
        "entityidfiltertype": "exact",
        "haltifstate": "Choose...",
        "x": 110,
        "y": 705,
        "wires": [
            [
                "2ef53004.4af83",
                "835fc7f7.1794b8"
            ]
        ]
    },
    {
        "id": "2ef53004.4af83",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "{   \"entity_id\": \"input_select.genre\",\"option\":\"Choose...\" }",
        "mergecontext": "",
        "x": 275,
        "y": 705,
        "wires": [
            []
        ]
    },
    {
        "id": "909104ce.41c118",
        "type": "server-state-changed",
        "z": "a93d581b.41ecf8",
        "name": "Which Device",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_select.which_device",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 30,
        "wires": [
            [
                "2e50e8.54141f18"
            ]
        ]
    },
    {
        "id": "2e50e8.54141f18",
        "type": "change",
        "z": "a93d581b.41ecf8",
        "name": "Save device",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 295,
        "y": 30,
        "wires": [
            []
        ]
    },
    {
        "id": "57108426.b7812c",
        "type": "server-state-changed",
        "z": "a93d581b.41ecf8",
        "name": "Announce",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.announce",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 90,
        "y": 105,
        "wires": [
            [
                "58db22b1.07575c",
                "288a10d8.9a24f"
            ]
        ]
    },
    {
        "id": "58db22b1.07575c",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{\"entity_id\": \"input_text.announce\", \"value\":\"\"}",
        "mergecontext": "",
        "x": 285,
        "y": 90,
        "wires": [
            []
        ]
    },
    {
        "id": "49872191.c7fc5",
        "type": "server-state-changed",
        "z": "a93d581b.41ecf8",
        "name": "Artist Radio",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.artist_radio",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 465,
        "wires": [
            [
                "5a32676e.72b898",
                "af11054c.03ffc8"
            ]
        ]
    },
    {
        "id": "a9e40c34.a3cac",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 150,
        "wires": [
            [
                "dd81dd4c.3d294"
            ]
        ]
    },
    {
        "id": "2d7949b4.c516e6",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "dd81dd4c.3d294"
            ]
        ]
    },
    {
        "id": "46490977.fe1c38",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "dd81dd4c.3d294"
            ]
        ]
    },
    {
        "id": "dd81dd4c.3d294",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Announce",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{}",
        "mergecontext": "",
        "x": 705,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "288a10d8.9a24f",
        "type": "switch",
        "z": "a93d581b.41ecf8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 150,
        "wires": [
            [
                "2d7949b4.c516e6"
            ],
            [
                "a9e40c34.a3cac"
            ],
            [
                "46490977.fe1c38"
            ],
            [
                "2d7949b4.c516e6",
                "a9e40c34.a3cac",
                "46490977.fe1c38"
            ]
        ]
    },
    {
        "id": "64fce1b5.2cf3b",
        "type": "server-state-changed",
        "z": "a93d581b.41ecf8",
        "name": "Artist/Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.artist_song",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 90,
        "y": 225,
        "wires": [
            [
                "5f9bd256.6a45ec",
                "fb12bc13.eed77"
            ]
        ]
    },
    {
        "id": "5f9bd256.6a45ec",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{   \"entity_id\": \"input_text.artist_song\",\"value\":\"\" }",
        "mergecontext": "",
        "x": 285,
        "y": 225,
        "wires": [
            []
        ]
    },
    {
        "id": "eea6eb89.bf46c8",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 330,
        "wires": [
            [
                "106fec1c.e403e4"
            ]
        ]
    },
    {
        "id": "8c20c0d.b35894",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "106fec1c.e403e4"
            ]
        ]
    },
    {
        "id": "f998ec35.d2c35",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 390,
        "wires": [
            [
                "106fec1c.e403e4"
            ]
        ]
    },
    {
        "id": "1a0eb5c7.80c6da",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 375,
        "wires": [
            []
        ]
    },
    {
        "id": "5a32676e.72b898",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{   \"entity_id\": \"input_text.artist_radio\",\"value\":\"\" }",
        "mergecontext": "",
        "x": 285,
        "y": 465,
        "wires": [
            []
        ]
    },
    {
        "id": "e4b7f360.dbdbb",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 570,
        "wires": [
            [
                "1dd53fe.b9f0ac"
            ]
        ]
    },
    {
        "id": "65f8ef4.b9c441",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 600,
        "wires": [
            [
                "1dd53fe.b9f0ac"
            ]
        ]
    },
    {
        "id": "b419a923.825008",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 630,
        "wires": [
            [
                "1dd53fe.b9f0ac"
            ]
        ]
    },
    {
        "id": "906f65ed.726f68",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 615,
        "wires": [
            []
        ]
    },
    {
        "id": "4ea1c163.3648e",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 810,
        "wires": [
            [
                "d73187d6.de0838"
            ]
        ]
    },
    {
        "id": "a84fbe2d.c5fea",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 840,
        "wires": [
            [
                "d73187d6.de0838"
            ]
        ]
    },
    {
        "id": "7af2fa35.c936b4",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 870,
        "wires": [
            [
                "d73187d6.de0838"
            ]
        ]
    },
    {
        "id": "4f4e8501.05803c",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 855,
        "wires": [
            []
        ]
    },
    {
        "id": "4fc18182.4e34a",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 225,
        "wires": [
            []
        ]
    },
    {
        "id": "20276437.101b9c",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 255,
        "wires": [
            []
        ]
    },
    {
        "id": "2b2029d5.d69e46",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 285,
        "wires": [
            []
        ]
    },
    {
        "id": "106fec1c.e403e4",
        "type": "delay",
        "z": "a93d581b.41ecf8",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 375,
        "wires": [
            [
                "1a0eb5c7.80c6da"
            ]
        ]
    },
    {
        "id": "d66c905e.df106",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 495,
        "wires": [
            []
        ]
    },
    {
        "id": "dcd661ab.1b1f3",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 525,
        "wires": [
            []
        ]
    },
    {
        "id": "e496c5bd.b40418",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 465,
        "wires": [
            []
        ]
    },
    {
        "id": "1dd53fe.b9f0ac",
        "type": "delay",
        "z": "a93d581b.41ecf8",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 615,
        "wires": [
            [
                "906f65ed.726f68"
            ]
        ]
    },
    {
        "id": "c14bcb4a.b6e678",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 735,
        "wires": [
            []
        ]
    },
    {
        "id": "e483794d.a2ae08",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 765,
        "wires": [
            []
        ]
    },
    {
        "id": "34ee37ba.954268",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 705,
        "wires": [
            []
        ]
    },
    {
        "id": "d73187d6.de0838",
        "type": "delay",
        "z": "a93d581b.41ecf8",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 855,
        "wires": [
            [
                "4f4e8501.05803c"
            ]
        ]
    },
    {
        "id": "44c8bd25.c20bd4",
        "type": "server-state-changed",
        "z": "a93d581b.41ecf8",
        "name": "Stop Music",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.stop_music",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 90,
        "y": 945,
        "wires": [
            [
                "8d362674.4dc348",
                "ccce52d7.569b8",
                "eb6d170a.ba4878"
            ]
        ]
    },
    {
        "id": "a9ed22be.019dc",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 990,
        "wires": [
            []
        ]
    },
    {
        "id": "4d55947.13f856c",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "6e6e1a32.f119b4",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "8d362674.4dc348",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Stop Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.stop_music\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 945,
        "wires": [
            []
        ]
    },
    {
        "id": "f03b04ad.82a448",
        "type": "server-state-changed",
        "z": "a93d581b.41ecf8",
        "name": "Next Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.next_song",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 90,
        "y": 1140,
        "wires": [
            [
                "711a78e1.213818",
                "bd96b02c.8b21f"
            ]
        ]
    },
    {
        "id": "ec84fcf0.334e5",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Living Room Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1185,
        "wires": [
            []
        ]
    },
    {
        "id": "c9221d5.164b6e",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1215,
        "wires": [
            []
        ]
    },
    {
        "id": "26f6f80f.ec0708",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 1155,
        "wires": [
            []
        ]
    },
    {
        "id": "711a78e1.213818",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Next Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.next_song\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "17860ca.3b155f3",
        "type": "server-state-changed",
        "z": "a93d581b.41ecf8",
        "name": "Previous Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.previous_song",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 110,
        "y": 1290,
        "wires": [
            [
                "5cf90e6d.9f097",
                "40c977cd.00fe68"
            ]
        ]
    },
    {
        "id": "4b7ff27a.e8bb6c",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Living Room Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 550,
        "y": 1335,
        "wires": [
            []
        ]
    },
    {
        "id": "f31fe771.9374b8",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1365,
        "wires": [
            []
        ]
    },
    {
        "id": "6dd1948f.50c44c",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1305,
        "wires": [
            []
        ]
    },
    {
        "id": "5cf90e6d.9f097",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Prev Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.previous_song\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 1290,
        "wires": [
            []
        ]
    },
    {
        "id": "af05fd5c.7b01b",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Group",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" station on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 900,
        "wires": [
            [
                "d73187d6.de0838"
            ]
        ]
    },
    {
        "id": "dba61349.912ee",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Group",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "106fec1c.e403e4"
            ]
        ]
    },
    {
        "id": "8a8aa5a5.8fd408",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Group",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" radio on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 660,
        "wires": [
            [
                "1dd53fe.b9f0ac"
            ]
        ]
    },
    {
        "id": "6592f0e8.b03c6",
        "type": "server-state-changed",
        "z": "a93d581b.41ecf8",
        "name": "Volume",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_number.echo_volume",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 80,
        "y": 1455,
        "wires": [
            [
                "360472da.db760e",
                "f262f068.c878d"
            ]
        ]
    },
    {
        "id": "d65ebc04.7e06d",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Set Volume",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "{}",
        "mergecontext": "",
        "x": 715,
        "y": 1530,
        "wires": [
            []
        ]
    },
    {
        "id": "1b0b61cd.a3f3ee",
        "type": "change",
        "z": "a93d581b.41ecf8",
        "name": "Save volume",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1455,
        "wires": [
            []
        ]
    },
    {
        "id": "a7b680c2.699f8",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.kitchen_echo\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1500,
        "wires": [
            [
                "d65ebc04.7e06d"
            ]
        ]
    },
    {
        "id": "94281a12.8e1eb8",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Living Room",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.living_room\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 521.0173645019531,
        "y": 1530.34375,
        "wires": [
            [
                "d65ebc04.7e06d"
            ]
        ]
    },
    {
        "id": "da9bbe58.071c",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.bedroom_echo\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1560,
        "wires": [
            [
                "d65ebc04.7e06d"
            ]
        ]
    },
    {
        "id": "360472da.db760e",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "/10",
        "func": "msg.payload = Number(msg.payload);\nmsg.payload = (msg.payload)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 1455,
        "wires": [
            [
                "1b0b61cd.a3f3ee"
            ]
        ]
    },
    {
        "id": "27fe1219.8292de",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Group Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 520,
        "y": 1245,
        "wires": [
            []
        ]
    },
    {
        "id": "e36eff57.ab675",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Group Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1395,
        "wires": [
            []
        ]
    },
    {
        "id": "1ff7ff05.2e4b71",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Group Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 520,
        "y": 1050,
        "wires": [
            []
        ]
    },
    {
        "id": "a844d02d.f47ca",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Group",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.downstairs\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1590,
        "wires": [
            [
                "d65ebc04.7e06d"
            ]
        ]
    },
    {
        "id": "fb12bc13.eed77",
        "type": "switch",
        "z": "a93d581b.41ecf8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 285,
        "wires": [
            [
                "20276437.101b9c",
                "2b2029d5.d69e46",
                "eea6eb89.bf46c8"
            ],
            [
                "4fc18182.4e34a",
                "2b2029d5.d69e46",
                "8c20c0d.b35894"
            ],
            [
                "4fc18182.4e34a",
                "20276437.101b9c",
                "f998ec35.d2c35"
            ],
            [
                "4fc18182.4e34a",
                "20276437.101b9c",
                "2b2029d5.d69e46",
                "dba61349.912ee"
            ]
        ]
    },
    {
        "id": "af11054c.03ffc8",
        "type": "switch",
        "z": "a93d581b.41ecf8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 525,
        "wires": [
            [
                "dcd661ab.1b1f3",
                "e4b7f360.dbdbb",
                "d66c905e.df106"
            ],
            [
                "e496c5bd.b40418",
                "dcd661ab.1b1f3",
                "65f8ef4.b9c441"
            ],
            [
                "e496c5bd.b40418",
                "d66c905e.df106",
                "b419a923.825008"
            ],
            [
                "e496c5bd.b40418",
                "d66c905e.df106",
                "dcd661ab.1b1f3",
                "8a8aa5a5.8fd408"
            ]
        ]
    },
    {
        "id": "835fc7f7.1794b8",
        "type": "switch",
        "z": "a93d581b.41ecf8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 765,
        "wires": [
            [
                "c14bcb4a.b6e678",
                "e483794d.a2ae08",
                "4ea1c163.3648e"
            ],
            [
                "34ee37ba.954268",
                "e483794d.a2ae08",
                "a84fbe2d.c5fea"
            ],
            [
                "34ee37ba.954268",
                "c14bcb4a.b6e678",
                "7af2fa35.c936b4"
            ],
            [
                "34ee37ba.954268",
                "c14bcb4a.b6e678",
                "e483794d.a2ae08",
                "af05fd5c.7b01b"
            ]
        ]
    },
    {
        "id": "ccce52d7.569b8",
        "type": "switch",
        "z": "a93d581b.41ecf8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1005,
        "wires": [
            [
                "6e6e1a32.f119b4"
            ],
            [
                "a9ed22be.019dc"
            ],
            [
                "4d55947.13f856c"
            ],
            [
                "1ff7ff05.2e4b71"
            ]
        ]
    },
    {
        "id": "bd96b02c.8b21f",
        "type": "switch",
        "z": "a93d581b.41ecf8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1200,
        "wires": [
            [
                "26f6f80f.ec0708"
            ],
            [
                "ec84fcf0.334e5"
            ],
            [
                "c9221d5.164b6e"
            ],
            [
                "27fe1219.8292de"
            ]
        ]
    },
    {
        "id": "40c977cd.00fe68",
        "type": "switch",
        "z": "a93d581b.41ecf8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1350,
        "wires": [
            [
                "6dd1948f.50c44c"
            ],
            [
                "4b7ff27a.e8bb6c"
            ],
            [
                "f31fe771.9374b8"
            ],
            [
                "e36eff57.ab675"
            ]
        ]
    },
    {
        "id": "b912d994.5a6448",
        "type": "switch",
        "z": "a93d581b.41ecf8",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1515,
        "wires": [
            [
                "a7b680c2.699f8"
            ],
            [
                "94281a12.8e1eb8"
            ],
            [
                "da9bbe58.071c"
            ],
            [
                "a844d02d.f47ca"
            ]
        ]
    },
    {
        "id": "f262f068.c878d",
        "type": "delay",
        "z": "a93d581b.41ecf8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 135,
        "y": 1515,
        "wires": [
            [
                "b912d994.5a6448"
            ]
        ]
    },
    {
        "id": "70091029.4b3ed",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Upstairs Temp Data To Living",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"message\": \"the temperature upstairs is \" + flow.get(\"upstairstemp\") + \" degrees\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 2130,
        "wires": [
            [
                "60864dea.1cbd44"
            ]
        ]
    },
    {
        "id": "60864dea.1cbd44",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Announce",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{}",
        "mergecontext": "",
        "x": 765,
        "y": 2325,
        "wires": [
            []
        ]
    },
    {
        "id": "ce7567bf.865db8",
        "type": "api-current-state",
        "z": "a93d581b.41ecf8",
        "name": "Upstairs Humidity",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "sensor.upstairs_humidity_rounded",
        "x": 330,
        "y": 1830,
        "wires": [
            [
                "15c5a025.e77d8"
            ]
        ]
    },
    {
        "id": "15c5a025.e77d8",
        "type": "change",
        "z": "a93d581b.41ecf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "upstairshumidity",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1830,
        "wires": [
            []
        ]
    },
    {
        "id": "c23878e5.2bebe8",
        "type": "inject",
        "z": "a93d581b.41ecf8",
        "name": "Every 5 Minutes",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 1785,
        "wires": [
            [
                "d2c286b1.6ac0d8",
                "ce7567bf.865db8",
                "1131146d.bd832c",
                "6ed4073.d7872f8",
                "efd1c6b4.faa288",
                "6193304f.6902a"
            ]
        ]
    },
    {
        "id": "d2c286b1.6ac0d8",
        "type": "api-current-state",
        "z": "a93d581b.41ecf8",
        "name": "Upstairs Temp",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "sensor.upstairs_temp_rounded",
        "x": 320,
        "y": 1785,
        "wires": [
            [
                "fd0ed3e5.bc33c"
            ]
        ]
    },
    {
        "id": "fd0ed3e5.bc33c",
        "type": "change",
        "z": "a93d581b.41ecf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "upstairstemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1785,
        "wires": [
            []
        ]
    },
    {
        "id": "b39978ef.2cb508",
        "type": "comment",
        "z": "a93d581b.41ecf8",
        "name": "Save Rounded Temp/Humidity Sensor Values Every 5 Minutes",
        "info": "",
        "x": 250,
        "y": 1740,
        "wires": []
    },
    {
        "id": "1131146d.bd832c",
        "type": "api-current-state",
        "z": "a93d581b.41ecf8",
        "name": "Downstairs Temp",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "sensor.downstairs_temp_rounded",
        "x": 330,
        "y": 1875,
        "wires": [
            [
                "d318ec3d.a38c3"
            ]
        ]
    },
    {
        "id": "6ed4073.d7872f8",
        "type": "api-current-state",
        "z": "a93d581b.41ecf8",
        "name": "Downstairs Humidity",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "sensor.downstairs_humidity_rounded",
        "x": 340,
        "y": 1920,
        "wires": [
            [
                "48bc9fc2.beeca"
            ]
        ]
    },
    {
        "id": "d318ec3d.a38c3",
        "type": "change",
        "z": "a93d581b.41ecf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "downstairstemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1875,
        "wires": [
            []
        ]
    },
    {
        "id": "48bc9fc2.beeca",
        "type": "change",
        "z": "a93d581b.41ecf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "downstairshumidity",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "cc44cb5d.cf94b8",
        "type": "trigger-state",
        "z": "a93d581b.41ecf8",
        "name": "Upstairs Temp",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.upstairs_temp",
        "debugenabled": false,
        "constraints": [
            {
                "id": "yrr8try0n7",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "3f593rne1k1",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 110,
        "y": 2100,
        "wires": [
            [
                "70091029.4b3ed",
                "c068e8ac.af0188",
                "471fa768.9c1e18"
            ],
            []
        ]
    },
    {
        "id": "20cad1c4.68207e",
        "type": "comment",
        "z": "a93d581b.41ecf8",
        "name": "Alexa Triggers via Booleans/Routines",
        "info": "",
        "x": 180,
        "y": 2055,
        "wires": []
    },
    {
        "id": "c068e8ac.af0188",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.upstairs_temp\"  }",
        "mergecontext": "",
        "x": 320,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "d21bac9a.4a5e3",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Upstairs Humidiy Data To Living",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"message\": \"the humidity upstairs is \" + flow.get(\"upstairshumidity\") + \" percent\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 2220,
        "wires": [
            [
                "60864dea.1cbd44"
            ]
        ]
    },
    {
        "id": "9dbaa71b.120668",
        "type": "trigger-state",
        "z": "a93d581b.41ecf8",
        "name": "Upstairs Humidity",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.upstairs_humidity",
        "debugenabled": false,
        "constraints": [
            {
                "id": "yrr8try0n7",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "3f593rne1k1",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 120,
        "y": 2220,
        "wires": [
            [
                "d21bac9a.4a5e3",
                "b6be10b6.442aa",
                "6b8eae6a.30273"
            ],
            []
        ]
    },
    {
        "id": "b6be10b6.442aa",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.upstairs_humidity\"  }",
        "mergecontext": "",
        "x": 320,
        "y": 2250,
        "wires": [
            []
        ]
    },
    {
        "id": "890836e7.b183b8",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Downstairs Temp Data To Living",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"message\": \"the temperature downstairs is \" + flow.get(\"downstairstemp\") + \" degrees\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 2310,
        "wires": [
            [
                "60864dea.1cbd44"
            ]
        ]
    },
    {
        "id": "e049d7da.0e61c8",
        "type": "trigger-state",
        "z": "a93d581b.41ecf8",
        "name": "Downstairs Temp",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.downstairs_temp",
        "debugenabled": false,
        "constraints": [
            {
                "id": "yrr8try0n7",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "3f593rne1k1",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 120,
        "y": 2310,
        "wires": [
            [
                "890836e7.b183b8",
                "e78ec2de.aa6da",
                "f9ac9acf.07ba18"
            ],
            []
        ]
    },
    {
        "id": "e78ec2de.aa6da",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.downstairs_temp\"  }",
        "mergecontext": "",
        "x": 320,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "b00f105c.7074e",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Downstairs Humidity Data To Living",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"message\": \"the humidity downstairs is \" + flow.get(\"downstairshumidity\") + \" percent\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2400,
        "wires": [
            [
                "60864dea.1cbd44"
            ]
        ]
    },
    {
        "id": "28c080c3.af8d5",
        "type": "trigger-state",
        "z": "a93d581b.41ecf8",
        "name": "Downstairs Humidity",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.downstairs_humidity",
        "debugenabled": false,
        "constraints": [
            {
                "id": "yrr8try0n7",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "3f593rne1k1",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 130,
        "y": 2400,
        "wires": [
            [
                "b00f105c.7074e",
                "aba184ff.7f9868",
                "c9dd271b.b3bee8"
            ],
            []
        ]
    },
    {
        "id": "aba184ff.7f9868",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.downstairs_humidity\"  }",
        "mergecontext": "",
        "x": 320,
        "y": 2430,
        "wires": [
            []
        ]
    },
    {
        "id": "276acb13.ce6684",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Garage Temp Data To Living",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"message\": \"the temperature in the garage is \" + flow.get(\"garagetemp\") + \" degrees\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 2490,
        "wires": [
            [
                "60864dea.1cbd44"
            ]
        ]
    },
    {
        "id": "18d09538.dea16b",
        "type": "trigger-state",
        "z": "a93d581b.41ecf8",
        "name": "Garage Temp",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.garage_temp",
        "debugenabled": false,
        "constraints": [
            {
                "id": "yrr8try0n7",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "3f593rne1k1",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 110,
        "y": 2490,
        "wires": [
            [
                "276acb13.ce6684",
                "6db73eff.dba1",
                "77e74055.d65ef"
            ],
            []
        ]
    },
    {
        "id": "6db73eff.dba1",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.garage_temp\"  }",
        "mergecontext": "",
        "x": 320,
        "y": 2520,
        "wires": [
            []
        ]
    },
    {
        "id": "93d6777d.2cc288",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Garage Humidity Data To Living",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"message\": \"the humidity in the garage is \" + flow.get(\"garagehumidity\") + \" percent\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 2580,
        "wires": [
            [
                "60864dea.1cbd44"
            ]
        ]
    },
    {
        "id": "78fdbc9d.c5dda4",
        "type": "trigger-state",
        "z": "a93d581b.41ecf8",
        "name": "Garage Humidity",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.garage_humidity",
        "debugenabled": false,
        "constraints": [
            {
                "id": "yrr8try0n7",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "3f593rne1k1",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 120,
        "y": 2580,
        "wires": [
            [
                "93d6777d.2cc288",
                "ca1a584e.3c6058",
                "8c1e54d3.085df8"
            ],
            []
        ]
    },
    {
        "id": "ca1a584e.3c6058",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.garage_humidity\"  }",
        "mergecontext": "",
        "x": 320,
        "y": 2610,
        "wires": [
            []
        ]
    },
    {
        "id": "efd1c6b4.faa288",
        "type": "api-current-state",
        "z": "a93d581b.41ecf8",
        "name": "Garage Temp",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "sensor.garage_temp_rounded",
        "x": 320,
        "y": 1965,
        "wires": [
            [
                "e8897495.059ad8"
            ]
        ]
    },
    {
        "id": "6193304f.6902a",
        "type": "api-current-state",
        "z": "a93d581b.41ecf8",
        "name": "Garage Humidity",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "sensor.garage_humidity_rounded",
        "x": 330,
        "y": 2010,
        "wires": [
            [
                "2de7c110.d2726e"
            ]
        ]
    },
    {
        "id": "e8897495.059ad8",
        "type": "change",
        "z": "a93d581b.41ecf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "garagetemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1965,
        "wires": [
            []
        ]
    },
    {
        "id": "2de7c110.d2726e",
        "type": "change",
        "z": "a93d581b.41ecf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "garagehumidity",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 2010,
        "wires": [
            []
        ]
    },
    {
        "id": "77e74055.d65ef",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Garage Temp Data To Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\": \"the temperature in the garage is \" + flow.get(\"garagetemp\") + \" degrees\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 2460,
        "wires": [
            [
                "dc191b99.1b67a8"
            ]
        ]
    },
    {
        "id": "c9dd271b.b3bee8",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Downstairs Humidity Data To Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\": \"the humidity downstairs is \" + flow.get(\"downstairshumidity\") + \" percent\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 2370,
        "wires": [
            [
                "dc191b99.1b67a8"
            ]
        ]
    },
    {
        "id": "f9ac9acf.07ba18",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Downstairs Temp Data To Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\": \"the temperature downstairs is \" + flow.get(\"downstairstemp\") + \" degrees\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2280,
        "wires": [
            [
                "dc191b99.1b67a8"
            ]
        ]
    },
    {
        "id": "6b8eae6a.30273",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Upstairs Humidiy Data To Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\": \"the humidity upstairs is \" + flow.get(\"upstairshumidity\") + \" percent\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2190,
        "wires": [
            [
                "dc191b99.1b67a8"
            ]
        ]
    },
    {
        "id": "471fa768.9c1e18",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Upstairs Temp Data To Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\": \"the temperature upstairs is \" + flow.get(\"upstairstemp\") + \" degrees\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 2100,
        "wires": [
            [
                "dc191b99.1b67a8"
            ]
        ]
    },
    {
        "id": "8c1e54d3.085df8",
        "type": "function",
        "z": "a93d581b.41ecf8",
        "name": "Garage Humidity Data To Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\": \"the humidity in the garage is \" + flow.get(\"garagehumidity\") + \" percent\",\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2550,
        "wires": [
            [
                "dc191b99.1b67a8"
            ]
        ]
    },
    {
        "id": "dc191b99.1b67a8",
        "type": "api-call-service",
        "z": "a93d581b.41ecf8",
        "name": "Announce",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{}",
        "mergecontext": "",
        "x": 765,
        "y": 2295,
        "wires": [
            []
        ]
    },
    {
        "id": "f3afd3d3.f6a3b",
        "type": "mqtt out",
        "z": "a93d581b.41ecf8",
        "name": "",
        "topic": "alexa/songplaying",
        "qos": "1",
        "retain": "",
        "broker": "3a69e582.e2abba",
        "x": 615,
        "y": 1680,
        "wires": []
    },
    {
        "id": "bf1c8709.227388",
        "type": "mqtt out",
        "z": "a93d581b.41ecf8",
        "name": "",
        "topic": "alexa/artistplaying",
        "qos": "1",
        "retain": "",
        "broker": "3a69e582.e2abba",
        "x": 615,
        "y": 1650,
        "wires": []
    },
    {
        "id": "d3095970.67da68",
        "type": "mqtt out",
        "z": "a93d581b.41ecf8",
        "name": "",
        "topic": "alexa/artistplaying",
        "qos": "1",
        "retain": "",
        "broker": "3a69e582.e2abba",
        "x": 540,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1d98f430.ddc8ac",
        "type": "mqtt out",
        "z": "a93d581b.41ecf8",
        "name": "",
        "topic": "alexa/songplaying",
        "qos": "1",
        "retain": "",
        "broker": "3a69e582.e2abba",
        "x": 540,
        "y": 1110,
        "wires": []
    },
    {
        "id": "f4b95734.92f9c8",
        "type": "change",
        "z": "a93d581b.41ecf8",
        "name": " reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 275,
        "y": 1065,
        "wires": [
            [
                "d3095970.67da68",
                "1d98f430.ddc8ac"
            ]
        ]
    },
    {
        "id": "3cae5511.06781a",
        "type": "poll-state",
        "z": "a93d581b.41ecf8",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "updateinterval": "",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "media_player.kitchen_echo",
        "x": 80,
        "y": 1635,
        "wires": [
            [
                "28ae06af.0067ca"
            ]
        ]
    },
    {
        "id": "825b9aa6.4d4208",
        "type": "change",
        "z": "a93d581b.41ecf8",
        "name": "filter artist",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data.attributes.media_artist",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 435,
        "y": 1650,
        "wires": [
            [
                "bf1c8709.227388"
            ]
        ]
    },
    {
        "id": "142786f7.142039",
        "type": "poll-state",
        "z": "a93d581b.41ecf8",
        "name": "Living Room",
        "server": "43c6abca.ce6fb4",
        "updateinterval": "",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "media_player.living_room",
        "x": 100,
        "y": 1665,
        "wires": [
            [
                "28ae06af.0067ca"
            ]
        ]
    },
    {
        "id": "4defda96.fca894",
        "type": "poll-state",
        "z": "a93d581b.41ecf8",
        "name": "Bedroom",
        "server": "43c6abca.ce6fb4",
        "updateinterval": "",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "media_player.bedroom_echo",
        "x": 90,
        "y": 1695,
        "wires": [
            [
                "28ae06af.0067ca"
            ]
        ]
    },
    {
        "id": "bc9ad70a.c8b688",
        "type": "change",
        "z": "a93d581b.41ecf8",
        "name": "filter song",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data.attributes.media_title",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 435,
        "y": 1680,
        "wires": [
            [
                "f3afd3d3.f6a3b"
            ]
        ]
    },
    {
        "id": "28ae06af.0067ca",
        "type": "switch",
        "z": "a93d581b.41ecf8",
        "name": "playing?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 1665,
        "wires": [
            [
                "825b9aa6.4d4208",
                "bc9ad70a.c8b688"
            ]
        ]
    },
    {
        "id": "eb6d170a.ba4878",
        "type": "delay",
        "z": "a93d581b.41ecf8",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 120,
        "y": 1065,
        "wires": [
            [
                "f4b95734.92f9c8"
            ]
        ]
    },
    {
        "id": "8c871b54.49cd68",
        "type": "comment",
        "z": "a93d581b.41ecf8",
        "name": "Now Playing via MQTT Sensors",
        "info": "",
        "x": 160,
        "y": 1590,
        "wires": []
    },
    {
        "id": "43c6abca.ce6fb4",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false
    },
    {
        "id": "3a69e582.e2abba",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT",
        "broker": "YOURMQTTBROKER",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
