Alexa 2.0 flow
[
    {
        "id": "13e4b0ef.b81d6f",
        "type": "tab",
        "label": "Alexa 2.0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39271ccf.f4cc14",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Genre selected",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_select.genre",
        "entityidfiltertype": "exact",
        "haltifstate": "Choose...",
        "x": 110,
        "y": 705,
        "wires": [
            [
                "39748785.5e6278",
                "fe41f5f9.589df8"
            ]
        ]
    },
    {
        "id": "39748785.5e6278",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "{   \"entity_id\": \"input_select.genre\",\"option\":\"Choose...\" }",
        "mergecontext": "",
        "x": 275,
        "y": 705,
        "wires": [
            []
        ]
    },
    {
        "id": "9cddfe4.eea81",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Which Device",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_select.which_device",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 30,
        "wires": [
            [
                "929c106b.50c9c"
            ]
        ]
    },
    {
        "id": "929c106b.50c9c",
        "type": "change",
        "z": "13e4b0ef.b81d6f",
        "name": "Save device",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 295,
        "y": 30,
        "wires": [
            []
        ]
    },
    {
        "id": "5e43bc24.f3c414",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Announce",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.announce",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 90,
        "y": 105,
        "wires": [
            [
                "f690d70.3ae0628",
                "e7a60f91.56df7"
            ]
        ]
    },
    {
        "id": "f690d70.3ae0628",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{\"entity_id\": \"input_text.announce\", \"value\":\"\"}",
        "mergecontext": "",
        "x": 285,
        "y": 90,
        "wires": [
            []
        ]
    },
    {
        "id": "37cec0fd.210e8",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Artist Radio",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.artist_radio",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 465,
        "wires": [
            [
                "55be5d38.a4ad94",
                "9e66218.95260e"
            ]
        ]
    },
    {
        "id": "ce1ac113.e56ec",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 150,
        "wires": [
            [
                "602d9cf9.0cde34"
            ]
        ]
    },
    {
        "id": "8edbb666.7f9878",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "602d9cf9.0cde34"
            ]
        ]
    },
    {
        "id": "6ebd72e7.6a62bc",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"message\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "602d9cf9.0cde34"
            ]
        ]
    },
    {
        "id": "602d9cf9.0cde34",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Announce",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{}",
        "mergecontext": "",
        "x": 705,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "e7a60f91.56df7",
        "type": "switch",
        "z": "13e4b0ef.b81d6f",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 150,
        "wires": [
            [
                "8edbb666.7f9878"
            ],
            [
                "ce1ac113.e56ec"
            ],
            [
                "6ebd72e7.6a62bc"
            ],
            [
                "8edbb666.7f9878",
                "ce1ac113.e56ec",
                "6ebd72e7.6a62bc"
            ]
        ]
    },
    {
        "id": "77dc5da7.b949b4",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Artist/Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_text.artist_song",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 90,
        "y": 225,
        "wires": [
            [
                "ece024b8.12c798",
                "1848962b.f9582a"
            ]
        ]
    },
    {
        "id": "ece024b8.12c798",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{   \"entity_id\": \"input_text.artist_song\",\"value\":\"\" }",
        "mergecontext": "",
        "x": 285,
        "y": 225,
        "wires": [
            []
        ]
    },
    {
        "id": "ff3566e1.ad3cd8",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 330,
        "wires": [
            [
                "96e95c11.5c263"
            ]
        ]
    },
    {
        "id": "cea42479.472988",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "96e95c11.5c263"
            ]
        ]
    },
    {
        "id": "b9af94ee.9067b8",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload,\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 390,
        "wires": [
            [
                "96e95c11.5c263"
            ]
        ]
    },
    {
        "id": "bac90261.8d573",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 375,
        "wires": [
            []
        ]
    },
    {
        "id": "55be5d38.a4ad94",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Clear text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{   \"entity_id\": \"input_text.artist_radio\",\"value\":\"\" }",
        "mergecontext": "",
        "x": 285,
        "y": 465,
        "wires": [
            []
        ]
    },
    {
        "id": "8437c698.eb1388",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 570,
        "wires": [
            [
                "253a8eee.492ac2"
            ]
        ]
    },
    {
        "id": "471753b9.d1518c",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 600,
        "wires": [
            [
                "253a8eee.492ac2"
            ]
        ]
    },
    {
        "id": "6cfc37d2.3f8d38",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" radio\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 630,
        "wires": [
            [
                "253a8eee.492ac2"
            ]
        ]
    },
    {
        "id": "872e1bb6.77df68",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 615,
        "wires": [
            []
        ]
    },
    {
        "id": "df477073.8aea5",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 810,
        "wires": [
            [
                "62be115f.34bfe"
            ]
        ]
    },
    {
        "id": "77620022.54d97",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Room",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.living_room\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 840,
        "wires": [
            [
                "62be115f.34bfe"
            ]
        ]
    },
    {
        "id": "57715842.af5008",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" station\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 870,
        "wires": [
            [
                "62be115f.34bfe"
            ]
        ]
    },
    {
        "id": "6c05b6f2.4a8728",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Play",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "play_media",
        "data": "{}",
        "mergecontext": "",
        "x": 830,
        "y": 855,
        "wires": [
            []
        ]
    },
    {
        "id": "4caccd59.76c3b4",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 225,
        "wires": [
            []
        ]
    },
    {
        "id": "4eb87250.899cdc",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 255,
        "wires": [
            []
        ]
    },
    {
        "id": "cb94b370.14715",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 285,
        "wires": [
            []
        ]
    },
    {
        "id": "96e95c11.5c263",
        "type": "delay",
        "z": "13e4b0ef.b81d6f",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 375,
        "wires": [
            [
                "bac90261.8d573"
            ]
        ]
    },
    {
        "id": "e085ffaa.8d19f",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 495,
        "wires": [
            []
        ]
    },
    {
        "id": "5ff633d2.7ed90c",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 525,
        "wires": [
            []
        ]
    },
    {
        "id": "170454db.28101b",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 465,
        "wires": [
            []
        ]
    },
    {
        "id": "253a8eee.492ac2",
        "type": "delay",
        "z": "13e4b0ef.b81d6f",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 615,
        "wires": [
            [
                "872e1bb6.77df68"
            ]
        ]
    },
    {
        "id": "5bd95861.dfbb48",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 735,
        "wires": [
            []
        ]
    },
    {
        "id": "758dfd7d.d091d4",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 765,
        "wires": [
            []
        ]
    },
    {
        "id": "6c7dfb73.17d234",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 705,
        "wires": [
            []
        ]
    },
    {
        "id": "62be115f.34bfe",
        "type": "delay",
        "z": "13e4b0ef.b81d6f",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 855,
        "wires": [
            [
                "6c05b6f2.4a8728"
            ]
        ]
    },
    {
        "id": "e27c3b2e.da52c8",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Stop Music",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.stop_music",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 90,
        "y": 945,
        "wires": [
            [
                "ae3bf1aa.70f6d",
                "61f3512b.ef957"
            ]
        ]
    },
    {
        "id": "5de71bea.c5cef4",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Room Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 990,
        "wires": [
            []
        ]
    },
    {
        "id": "6193774.9f87588",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "dcfec063.6398f",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "ae3bf1aa.70f6d",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Stop Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.stop_music\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 945,
        "wires": [
            []
        ]
    },
    {
        "id": "e1b8a01e.11eeb",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Next Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.next_song",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 90,
        "y": 1095,
        "wires": [
            [
                "dcd5a7bf.813928",
                "afc75fe7.2f034"
            ]
        ]
    },
    {
        "id": "dba46732.fb0998",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Room Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "9113434f.42912",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1170,
        "wires": [
            []
        ]
    },
    {
        "id": "141c27bb.bf8a68",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 520,
        "y": 1110,
        "wires": [
            []
        ]
    },
    {
        "id": "dcd5a7bf.813928",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Next Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.next_song\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 1095,
        "wires": [
            []
        ]
    },
    {
        "id": "5a9eb559.21d23c",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Previous Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.previous_song",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 110,
        "y": 1245,
        "wires": [
            [
                "948bc581.befb78",
                "70c5f0bd.2f289"
            ]
        ]
    },
    {
        "id": "d0abb463.8a31e8",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Room Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.living_room\" }",
        "mergecontext": "",
        "x": 550,
        "y": 1290,
        "wires": [
            []
        ]
    },
    {
        "id": "ecac1cce.06167",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.bedroom_echo\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "c0885914.6539c8",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.kitchen_echo\" }",
        "mergecontext": "",
        "x": 540,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "948bc581.befb78",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Next Button Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.previous_song\"  }",
        "mergecontext": "",
        "x": 315,
        "y": 1245,
        "wires": [
            []
        ]
    },
    {
        "id": "d32001f9.28a7b",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Group",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.kitchen_echo\",\n        \"media_content_id\":msg.payload + \" station on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 900,
        "wires": [
            [
                "62be115f.34bfe"
            ]
        ]
    },
    {
        "id": "a9556a94.3be938",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Group",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "96e95c11.5c263"
            ]
        ]
    },
    {
        "id": "8ef417c.6dcb1e8",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Group",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom_echo\",\n        \"media_content_id\":msg.payload + \" radio on group downstairs\",\n        \"media_content_type\": \"AMAZON_MUSIC\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 660,
        "wires": [
            [
                "253a8eee.492ac2"
            ]
        ]
    },
    {
        "id": "7f0ab7c2.edc0b8",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Volume",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_number.echo_volume",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 80,
        "y": 1410,
        "wires": [
            [
                "583c4b9f.01ab34",
                "c80f17aa.ba16b8"
            ]
        ]
    },
    {
        "id": "37aa9886.377358",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Set Volume",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "{}",
        "mergecontext": "",
        "x": 715,
        "y": 1485,
        "wires": [
            []
        ]
    },
    {
        "id": "70e12573.56b1fc",
        "type": "change",
        "z": "13e4b0ef.b81d6f",
        "name": "Save volume",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1410,
        "wires": [
            []
        ]
    },
    {
        "id": "72413147.ac28b",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.kitchen_echo\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1455,
        "wires": [
            [
                "37aa9886.377358"
            ]
        ]
    },
    {
        "id": "b36b3da1.4ee2e",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Room",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.living_room\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 521.0173645019531,
        "y": 1485.34375,
        "wires": [
            [
                "37aa9886.377358"
            ]
        ]
    },
    {
        "id": "2123a441.952ddc",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.bedroom_echo\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1515,
        "wires": [
            [
                "37aa9886.377358"
            ]
        ]
    },
    {
        "id": "583c4b9f.01ab34",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "/10",
        "func": "msg.payload = Number(msg.payload);\nmsg.payload = (msg.payload)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 1410,
        "wires": [
            [
                "70e12573.56b1fc"
            ]
        ]
    },
    {
        "id": "b6977ef9.f09f2",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.kitchen_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 1590,
        "wires": [
            [
                "1d38211f.b478ef"
            ]
        ]
    },
    {
        "id": "250c7779.c839f8",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.living_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 1620,
        "wires": [
            [
                "1d38211f.b478ef"
            ]
        ]
    },
    {
        "id": "1d38211f.b478ef",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Artist",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"input_text.artist_playing\",\n        \"value\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 1590,
        "wires": [
            [
                "e983bda2.d84df"
            ]
        ]
    },
    {
        "id": "e983bda2.d84df",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Set input_text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{}",
        "mergecontext": "",
        "x": 530,
        "y": 1590,
        "wires": [
            []
        ]
    },
    {
        "id": "27737cb2.cd02b4",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.bedroom_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 110,
        "y": 1650,
        "wires": [
            [
                "1d38211f.b478ef"
            ]
        ]
    },
    {
        "id": "4eb9ca20.bc8574",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Kitchen Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.kitchen_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 1740,
        "wires": [
            [
                "39327319.f776dc"
            ]
        ]
    },
    {
        "id": "fa683398.9adaf",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Living Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.living_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 100,
        "y": 1770,
        "wires": [
            [
                "39327319.f776dc"
            ]
        ]
    },
    {
        "id": "39327319.f776dc",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Song",
        "func": "if (msg.payload === \"\") return null;\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"input_text.song_playing\",\n        \"value\":msg.payload,\n        }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 1740,
        "wires": [
            [
                "6eb13258.e3d0dc"
            ]
        ]
    },
    {
        "id": "6eb13258.e3d0dc",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Set input_text",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_text",
        "service": "set_value",
        "data": "{}",
        "mergecontext": "",
        "x": 530,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "dc8ed924.18bc38",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Bedroom Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.bedroom_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 110,
        "y": 1800,
        "wires": [
            [
                "39327319.f776dc"
            ]
        ]
    },
    {
        "id": "d3e1c2a9.66c67",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Downstairs Artist",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.downstairs_artist",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 110,
        "y": 1680,
        "wires": [
            [
                "1d38211f.b478ef"
            ]
        ]
    },
    {
        "id": "43391297.4964bc",
        "type": "server-state-changed",
        "z": "13e4b0ef.b81d6f",
        "name": "Downstairs Song",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "sensor.downstairs_title",
        "entityidfiltertype": "exact",
        "haltifstate": "",
        "x": 110,
        "y": 1830,
        "wires": [
            [
                "39327319.f776dc"
            ]
        ]
    },
    {
        "id": "26afbf96.1acc",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Downstairs Next",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 530,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "3ab28ccb.9beb94",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Downstairs Previous",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 550,
        "y": 1350,
        "wires": [
            []
        ]
    },
    {
        "id": "d5e93d80.5100c",
        "type": "api-call-service",
        "z": "13e4b0ef.b81d6f",
        "name": "Group Stop",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{ \"entity_id\": \"media_player.downstairs\" }",
        "mergecontext": "",
        "x": 520,
        "y": 1050,
        "wires": [
            []
        ]
    },
    {
        "id": "ce89d060.a2288",
        "type": "function",
        "z": "13e4b0ef.b81d6f",
        "name": "Downstairs",
        "func": "msg.payload = \n{ \n    \"data\": {   \n        \"entity_id\": \"media_player.downstairs\", \"volume_level\":flow.get(\"volume\")\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1545,
        "wires": [
            [
                "37aa9886.377358"
            ]
        ]
    },
    {
        "id": "1848962b.f9582a",
        "type": "switch",
        "z": "13e4b0ef.b81d6f",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 285,
        "wires": [
            [
                "4eb87250.899cdc",
                "cb94b370.14715",
                "ff3566e1.ad3cd8"
            ],
            [
                "4caccd59.76c3b4",
                "cb94b370.14715",
                "cea42479.472988"
            ],
            [
                "4caccd59.76c3b4",
                "4eb87250.899cdc",
                "b9af94ee.9067b8"
            ],
            [
                "4caccd59.76c3b4",
                "4eb87250.899cdc",
                "cb94b370.14715",
                "a9556a94.3be938"
            ]
        ]
    },
    {
        "id": "9e66218.95260e",
        "type": "switch",
        "z": "13e4b0ef.b81d6f",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 525,
        "wires": [
            [
                "5ff633d2.7ed90c",
                "8437c698.eb1388",
                "e085ffaa.8d19f"
            ],
            [
                "170454db.28101b",
                "5ff633d2.7ed90c",
                "471753b9.d1518c"
            ],
            [
                "170454db.28101b",
                "e085ffaa.8d19f",
                "6cfc37d2.3f8d38"
            ],
            [
                "170454db.28101b",
                "e085ffaa.8d19f",
                "5ff633d2.7ed90c",
                "8ef417c.6dcb1e8"
            ]
        ]
    },
    {
        "id": "fe41f5f9.589df8",
        "type": "switch",
        "z": "13e4b0ef.b81d6f",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 765,
        "wires": [
            [
                "5bd95861.dfbb48",
                "758dfd7d.d091d4",
                "df477073.8aea5"
            ],
            [
                "6c7dfb73.17d234",
                "758dfd7d.d091d4",
                "77620022.54d97"
            ],
            [
                "6c7dfb73.17d234",
                "5bd95861.dfbb48",
                "57715842.af5008"
            ],
            [
                "6c7dfb73.17d234",
                "5bd95861.dfbb48",
                "758dfd7d.d091d4",
                "d32001f9.28a7b"
            ]
        ]
    },
    {
        "id": "61f3512b.ef957",
        "type": "switch",
        "z": "13e4b0ef.b81d6f",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1005,
        "wires": [
            [
                "dcfec063.6398f"
            ],
            [
                "5de71bea.c5cef4"
            ],
            [
                "6193774.9f87588"
            ],
            [
                "d5e93d80.5100c"
            ]
        ]
    },
    {
        "id": "afc75fe7.2f034",
        "type": "switch",
        "z": "13e4b0ef.b81d6f",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1155,
        "wires": [
            [
                "141c27bb.bf8a68"
            ],
            [
                "dba46732.fb0998"
            ],
            [
                "9113434f.42912"
            ],
            [
                "26afbf96.1acc"
            ]
        ]
    },
    {
        "id": "70c5f0bd.2f289",
        "type": "switch",
        "z": "13e4b0ef.b81d6f",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1305,
        "wires": [
            [
                "c0885914.6539c8"
            ],
            [
                "d0abb463.8a31e8"
            ],
            [
                "ecac1cce.06167"
            ],
            [
                "3ab28ccb.9beb94"
            ]
        ]
    },
    {
        "id": "c80f17aa.ba16b8",
        "type": "switch",
        "z": "13e4b0ef.b81d6f",
        "name": "Device?",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Living Room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "All",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 285,
        "y": 1470,
        "wires": [
            [
                "72413147.ac28b"
            ],
            [
                "b36b3da1.4ee2e"
            ],
            [
                "2123a441.952ddc"
            ],
            [
                "ce89d060.a2288"
            ]
        ]
    },
    {
        "id": "43c6abca.ce6fb4",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "url": "http://YOURIP:8123",
        "pass": "YOURSUPERSECRETPASSWORD"
    }
]
